
/* =================================
	Styles for the frontpage view.
   ================================= */
#fp-upper-section {
	@include factor-property(margin-bottom, 10);

	#belligerence-logo {
		position: relative;

		#logo-img {
			$size_normal: 250px;
			$size_small: 170px;

			width: $size_normal;
			display: block;
			margin-left: auto;
			margin-right: auto;

			@include breakpoint('tiny') { width: $size_small; }
			@include breakpoint('small') { width: $size_small; }
		}

		.content {
			margin: 20px 0 5px 0;
			@include breakpoint('medium') { margin: 10px 0 5px 0; }
			@include breakpoint('small') { margin: 30px 0 5px 0; }

			h2 {
				@include factor-property(font-size, 8);

				letter-spacing: -3px;
				color: $main_text_color;
				margin: 0;
				text-align: center;

				@include breakpoint('medium') { @include factor-property(font-size, 5); }
				@include breakpoint('small') { @include factor-property(font-size, 6); }
			}

			h3 {
				font-family: $sub_font;
				@include factor-property(font-size, 5);

				letter-spacing: 2px;
				color: $main_text_color;
				margin: 7px 0 0 0;
				padding: 0;
				white-space: nowrap;
				text-align: center;

				@include breakpoint('medium') { @include factor-property(font-size, 3); }
				@include breakpoint('small') { @include factor-property(font-size, 3); }
			}

			hr {
				margin: 0;
			}
		}
	}
}