#legal-container {
	@include factor-property(padding-bottom, 30);

	h4 { line-height: 1.8; }

	.terms-list {
		p { @include factor-property(text-indent, 5); }
	}

	.license {
		code {
			display: inline-block;
			color: #000;
			line-height: 2;
			@include factor-property(margin-bottom, 1);
		}
	}

	.end-call { @include factor-property(margin-top, 7); }
}