.row-centered { text-align: center; }

.col-centered {
	display: inline-block;
	float: none;
	text-align: left;
	margin-right: -4px;

	@include breakpoint('small') { display: block; }
}

#class-selection {
	#class-selection-choices {
		@include factor-property(margin-top, 10);

		.class-choice {
			@include transition(all .25s);

			cursor: pointer;
			*{cursor: pointer;}

			background-color: white;
			box-shadow: 0px 0px 50px black, 0px 0px 10px black inset;

			color: #111;

			@include factor-property(padding-top, 5);
			@include factor-property(padding-bottom, 5);

			height: auto;
			margin-right: 4em;
			display: inline-block;
			float: none;

			vertical-align: top;

			&.commander {
				.class-icon { background-position-x: 0px; }
			}
			&.soldier {
				.class-icon { background-position-x: -99px; }
			}
			&.freelancer {
				.class-icon { background-position-x: -198px; }
				margin-right: 0px;
			}

			.hexagon-container {
				width: 165px;
				position: relative;

				@include breakpoint('medium'){left: -7px;}
				@include breakpoint('small'){left: 0px;}

				display: inline-block;
				float: none;
				text-align: center;

				.hexagon {
					position: relative;
					left: -18px;
					width: 200px;
					height: 140px;
					.in1, .in2 {background-color: #111;}
				}
			}

			.title {
				@include font-size(factor(3.5));
				font-weight: bold;
				font-family: $main_font;
				@include factor-property(margin-top, 3);
				@include factor-property(margin-bottom, 3);
			}
			.description {
				font-weight: 700;
			}
			.info {
				margin-top: 20px;
				font-weight: bold;
				font-family: $main_font;
			}

			.class-icon {
				display: inline-block;
				float: none;

				position: relative;
				top: 20px;

				@include factor-property(margin-top, 3);
				background-position-y: 105px;
				width: 99px;
				height: 105px;
				background-image: url("../images/class-icon-sheet.png");
			}

			&:hover {
				background-color: #aaa;
			}
			&.selected {
				background-color: $main_color;
				box-shadow: none;
				color: white;

				hr { border-color: white; }

				.class-icon { background-position-y: 0px; }
				.hexagon-container {
					.hexagon {
						.in1, .in2 {background-color: white;}
					}
				}
			}

			@include breakpoint("small") {
				@include factor-property(margin-bottom, 3);
			}
		}
	}
}

#back-button {}
#confirm-button {
	text-align: center;
	@include factor-property(margin-bottom, 20);
}

.actions {
	@include transition(background-color .25s);

	cursor: pointer;
	*{cursor: pointer;}

	padding: factor(5);
	@include factor-property(margin-bottom, 4);
	@include factor-property(margin-right, 5);
	@include factor-property(margin-top, 2);

	background-color: $main_color;
	color: #ddd;
	text-align: center;

	box-shadow: 0px 0px 20px rgba(0,0,0,.7);

	.icon { @include font-size(factor(7)); }

	.title {
		@include font-size(factor(4));
		font-family: $main_font;
	}

	hr { width: 70%; border-color: #fff; }

	&:hover { background-color: $main_color_dark; }

	&.success {
		background-color: $success_color;
		&:hover { background-color: $success_color_dark; }
	}

	&.muted {
		cursor: default;
		*{cursor: default;}
		background-color: $muted_color;
		color: #333;
		hr { border-color: #333; }
		&:hover { background-color: $muted_color; }
	}
}

.slider-label {
	@include transition(color .25s);

	@include font-size(factor(2.5));
	color: white;
	font-weight: 800;
	font-family: $main_font;
	position: relative;
	top: -9px;
}