
/* =====================================
				MIXINS
===================================== */

@mixin generate_background_image($icon, $height: 100%, $width: 100%) {
	width: $width;
	background-image: $icon;
	background-size: $width auto;
	background-repeat: no-repeat;
}

/* =====================================
				IMAGES
===================================== */

/* BELLIGERENCE LOGO */

$logo_belligerence_small: url("/images/belligerence-logo-small.png");
$logo_belligerence_small_inverted: url("/images/belligerence-logo-small-inv.png");

$logo_belligerence_small_height: 265px;
$logo_belligerence_small_width: 265px;

$header_background: url('/images/bg/main_bg.jpg');

$fp_intro_first_background: url('/images/bg/1_bg.png');
$fp_intro_second_background: url('/images/bg/2_bg.png');
$fp_intro_third_background: url('/images/bg/3_bg.png');
$fp_intro_fourth_background: url('/images/bg/4_bg.png');
$fp_intro_fifth_background: url('/images/bg/5_bg.png');

$factions_icon: url('/images/icons/factions-icon.png');
$city_icon: url('/images/icons/city-icon.png');
$mission_icon: url('/images/icons/mission-icon.png');

$bg_white_lightest: url("/images/cardbg_light.png");
$bg_grey_light: url("/images/cardbg_inverted_light.png");

/* ================= */

/* =====================================
				CLASSES
===================================== */

.logo-belligerence {
	height: $column_logo_belligerence;
	@include generate_background_image($logo_belligerence_small, $logo_belligerence_small_height, $logo_belligerence_small_width);
}

.logo-belligerence-inverted {
	height: $column_logo_belligerence;
	@include generate_background_image($logo_belligerence_small_inverted, $logo_belligerence_small_height, $logo_belligerence_small_width);
}

.logo-belligerence-small {
	@include generate_background_image($logo_belligerence_small, $logo_belligerence_small_height, $logo_belligerence_small_width);
}

.logo-belligerence-small-inverted {
	@include generate_background_image($logo_belligerence_small_inverted, $logo_belligerence_small_height, $logo_belligerence_small_width);
}

.fp_first_section_bg { @include generate_background_image($fp_intro_first_background); }
.fp_second_section_bg { @include generate_background_image($fp_intro_second_background); }
.fp_third_section_bg { @include generate_background_image($fp_intro_third_background); }
.fp_fourth_section_bg { @include generate_background_image($fp_intro_fourth_background); }
.fp_fifth_section_bg { @include generate_background_image($fp_intro_fifth_background); }

.icon-spinner-small { @include size(20px); }