
/* ==============================

	MODAL WINDOW
		.modal

================================= */

.modal-backdrop {
	background-color: #000;

	width: 100%;
	height: 100%;

	opacity: 0;

	&.in { opacity: 0.7; }
}

.modal {
	.modal-content {
		margin-top: 5%;

		.modal-window {

			.modal-body-text { word-break: break-all; }

			&#image-upload-form-container {

				#upload-side {
					@include factor-property(margin-top, 5);

					margin-left: auto;
					margin-right: auto;

					text-align: center;

					#image-upload-form {
						@include transition(border .2s);
						border: 5px dashed #333;
						@include factor-property(margin-top, 3);
						@include factor-property(padding, 2);

						&:hover {
							*{cursor: alias;}
							border: 5px dashed #666;
						}

						.upload-text {
							font-weight: 800;
							@include font-size(factor(2.2));
							letter-spacing: -1px;

							.ext-text {
								@include font-size(factor(3));
								color: $main_color;
								font-family: $main_font;
							}

							i {
								color: $main_color;
								@include font-size(factor(10));
								line-height: 0px;
							}
						}

						.current-upload {
							width: 100%;
						}
					}

					#image-input-form {
						@include factor-property(margin-top, 3);
						.input-group {
							display: inline-block;
							.form-control {
								width: 150px;
								height: 35px;
								@include font-size(factor(2));
								letter-spacing: -1px;
							}
							.btn {
								height: 35px;
								display: inline-block;

								i {
									position: relative;
									top: 2px;
									@include font-size(factor(2));
								}
							}
						}
						.character-limit {
							@include factor-property(margin-top, 1);
							@include font-size(factor(2));

							.min-char, .current-char, .max-char {
								font-weight: 800;
								@include font-size(factor(3));

								&.bad { color: $main_color; }
								&.good { color: $success_color; }
							}
						}
					}
				}

				#images-side {
					@include factor-property(margin-top, 5);
					@include factor-property(margin-bottom, 2)

					#images-filter {
						.form-group {
							.input-group {
								i {
									@include font-size(factor(2));
									padding: factor(1.1) factor(1.5);
									color: white;
									background-color: $main_color;
									line-height: 0px;
									float: left;
									display: inline-block;
									@include factor-property(margin-right, 1);
								}
								.form-control {
									height: 30px;
									width: 200px;
									display: inline-block;
								}
							}
						}
					}

					.image-list {
						padding-left: factor(1);
						padding-top: factor(1);
						height: 260px;
						overflow-y: scroll;

						.image-single {
							@include transition(margin-right .25s);

							width: 30%;
							cursor: pointer;
							@include factor-property(margin-right, 1);
							@include factor-property(margin-bottom, 1);
							display: inline-block;

							@include breakpoint("tiny") { width: 45%; }

							.image-container {
								@include transition(background .5s, box-shadow .5s);
								padding: factor(1) 0;

								background: url("/images/honeybg_red.png") repeat 100%;
								box-shadow: 0px 0px 0px #333;

								.image-render {
									@include transition(filter .25s);
									@include prefix(filter, drop-shadow(0px 0px 1px #555));
									@include size(65px, 75px);
									margin-left: auto;
									margin-right: auto;
								}
							}

							&:hover {
								.image-container {
									box-shadow: 0px 0px 5px #555;
									.image-render { @include prefix(filter, drop-shadow(0px 0px 3px #000)); }
								}
								.image-text { background-color: $main_color_dark; }
							}

							&.selected {
								.image-container {
									background: url("/images/cardbg_light.png") repeat 100%;
									box-shadow: 0px 0px 3px #333, 0px 0px 10px #555;
									.image-render {
										@include prefix(filter, drop-shadow(0px 0px 2px $main_color_dark));
										&:hover { @include prefix(filter, drop-shadow(0px 0px 4px $main_color)); }
									}
								}
								.image-text { background-color: $main_color_dark; }
							}

							.image-text {
								@include transition(background-color .25s);
								@include factor-property(margin-top, 0.5);
								text-align: center;
								@include font-size(factor(1.8));
								letter-spacing: -1px;
								background-color: $main_color;
								padding: factor(0.5) 5px;
								color: #ddd;
								font-weight: 800;

								&.warning {
									color: #333;
									background-color: $warning_color;
								}
							}

							.delete-button {
								float: left;
								@include size(0px);
								.delete-btn {
									z-index: 999;
									position: relative;
									top: -119px;
									left: 60px;

									@include breakpoint("medium") { left: 67px; }
									@include breakpoint("tiny") { left: 89px; }
								}
							}
						}
					}
				}
			}

			&.item-display {
				// margin-top: -100px;
				// @include breakpoint("tiny") { margin-top: -50px; }
			}

			.modal-header {
				background: url("/images/honeybg_red.png") repeat 100%;
				color: $main_text_color;
				border: 1px solid $main_color;
				border-radius: 5px;
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
				@include font-size(factor(4));
				@include factor-property(padding-left, 4);
				text-shadow: 0px 0px 7px #000;

				i {
					@include font-size(factor(4));
					@include factor-property(margin-right, 1);
				}

				h2 {
					@include font-size(factor(4));
					color: $main_text_color;
					display: inline-block;
				}

				&.short {
					h2 {
						@include font-size(factor(4));
						margin: 0px;
						@include breakpoint("tiny") {
							@include font-size(factor(2.5));
							letter-spacing: -1px;
						}
					}
				}

				.close-container {
					*{cursor: pointer;}
					float: right;
					display: inline-block;
					i {
						@include transition(text-shadow .25s);
						@include font-size(factor(4));
						text-shadow: 0px 0px 3px #000;
					}
					&:hover { i { text-shadow: 0px 0px 10px #000; }	}
					&:active { i { text-shadow: 0px 0px 0px #000; }	}
				}
			}

			.modal-main-body, .modal-body {
				@include font-size(factor(3));
				//background: url("/images/cardbg.png") repeat 100%;
				background-color: #eee;
				color: #000;

				hr {
					border-bottom: 1px solid #aaa;
					margin: 10px 0px;
				}

				.modal-body-text { @include factor-property(padding, 4); }

				.col-fix { float: none; }

				.separator { margin: factor(4) 0; }

				#image-upload-form-container { }

				.eximport-loadout {
					padding: 0 factor(3);
					.loadout-box {
						width: 100%;
					}

					.sent-loadout {

						.sent-property {
							width: 95%;
							@include font-size(factor(3));

							.property {
								line-height: 30px;
								letter-spacing: -2px;
								@include font-size(factor(3));
								color: #333;
								@include factor-property(padding-left, 1);
								border-left: 5px solid $main_color;
								font-family: $main_font;
								@include factor-property(margin-bottom, 1);
							}

							.value {
								background-color: white;
								@include factor-property(padding, 1);
								@include factor-property(margin-bottom, 2);
								@include font-size(factor(2.5));
							}

						}

						.sent-items {
							display: inline-block;
							.picture {
								position: relative;
								@include factor-property(margin-right, 1);
								.image {
									border: 2px solid #ccc;
									width: 75px;
								}
								.amount {
									font-family: $main_font;
									@include font-size(factor(2.5));
									background-color: $main_color;
									color: white;
									line-height: 0px;
									padding: factor(2) factor(1);
									position: absolute;
									bottom: 2px;
									right: 2px;
								}
							}
						}
					}
				}

				.air-drop {
					padding: factor(3) factor(1);
					min-height: 245px;

					.airdrop-item {
						overflow: hidden;
					}

					.grid-input {
						@include breakpoint("tiny") { @include factor-property(margin-top, 2); }

						.title {
							color: $main_color;
							font-weight: bold;
							line-height: 20px;
							font-family: $main_font;
							@include font-size(factor(3));
							@include factor-property(margin-bottom, 2);
						}
						.form-group {
							input {
								width: 100px;
								@include font-size(factor(4));
								font-family: $main_font;
								color: $main_color;
							}

							@include breakpoint("tiny") {
								@include factor-property(margin-right, 2);
								display: inline-block;
							}
						}

						.dropdown-section {
							display: inline-block;
							@include factor-property(margin-top, 2);

							.dropdown {
								display: inline-block;
								&.open { background-color: rgba(0,0,0,0); }

								.btn { padding-top: 8px; }
							}
						}
						.signal-display {
							position: relative;
							top: 2px;
							@include transition(background-color .25s);
							padding: factor(0.8) factor(2);
							display: inline-block;
							color: white;
							box-shadow: 0px 0px 10px #666;

							&.color-white { background-color: $muted_color; }
							&.color-blue { background-color: #225fc1; }
							&.color-green { background-color: $success_color; }
							&.color-red { background-color: $main_color; }
							&.color-orange { background-color: $warning_color; }
						}
					}
				}

				.display-items {

					.picture {
						img {
							border: 2px solid white;
							box-shadow: 0px 0px 10px rgba(0,0,0,.5);
							border-radius: 5px;
						}

						.classname {
							background: url("/images/honeybg_red.png") repeat 100%;
							font-family: $main_font;
							@include factor-property(margin-top, 2);
							@include font-size(factor(3));
							text-align: center;
							@include factor-property(padding, 1);
							color: #fff;
							letter-spacing: -2px;
							word-wrap: break-word;
						}

						.content-container {
							text-align: center;

							.icon {
								color: #333;
								position: relative;
								top: 3px;
								@include font-size(factor(4));
								display: inline-block;
								margin-right: 0px;
							}
							.content {
								@include font-size(factor(3));
								font-family: $main_font;
								display: inline-block;
								letter-spacing: -1px;
							}
						}
					}

					.item-details {
						.top {
							text-align: center;
							h2 {
								@include font-size(factor(6));
								margin: 0px;
								letter-spacing: -5px;
							}
							.classes {
								font-weight: bold;
								color: #333;
								letter-spacing: -1px;
								font-family: $main_font;
								text-transform: uppercase;
								border-left: 5px solid $main_color;
								display: inline-block;
								@include factor-property(margin-top, 1);
								margin-right: auto;
								margin-left: auto;
								text-align: center;
								padding: factor(1) factor(2);
								@include font-size(factor(2));
								background: url("/images/cardbg_light.png") repeat 100%;
							}
						}

						.body {
							@include font-size(factor(2.5));

							.item-typeclass {
								@include factor-property(margin-bottom, 2);

								.type {
									display: inline-block;
								}
								.classes {
									display: inline-block;
								}
							}

							.single-property {
								@include factor-property(margin-bottom, 3);

								.description {
									border-left: 2px solid $main_color;
									@include factor-property(margin-top, 2);
									@include factor-property(padding-left, 1);
									font-weight: bold;
									@include font-size(factor(2));
									text-transform: uppercase;
									font-family: $main_font;
									color: $main_color;
									letter-spacing: -1px;
								}

								.property {
									margin-top: 10px;
									line-height: 7px;
									@include font-size(factor(3));
									letter-spacing: -1px;

									&.long {
										border: 1px solid #ccc;
										border-radius: 4px;
										padding: 7px 7px 10px 11px;
										background-color: white;
										letter-spacing: 0px;
										line-height: 20px;
										@include font-size(factor(2));
										max-height: 120px;
										overflow-y: auto;
									}
								}
							}
						}
					}

					.bottom-properties {
						.item-details {
							.single-property {
								display: inline-block;
								@include factor-property(margin-bottom, 1);
								@include factor-property(margin-right, 2);
								.description { @include font-size(factor(2.7)); }
								.property {
									padding-left: 10px;
									@include font-size(factor(3));
								}
							}
						}
					}
				}

				.message-receiver {
					position: relative;
					top: -25px;

					&.ban {
						@include factor-property(margin-top, 3);
						height: 200px;
						text-align: center;

						.unit-avatar {
							display: inline-block;
							position: inherit;
							width: 150px;
							margin-left: auto;
							margin-right: auto;
							top: 0px;
							@include factor-property(margin-bottom, 2);
						}

						.receiver {
							margin: 0px;
							@include font-size(factor(5));
							display: block;
						}
					}

					.receiver {
						padding: factor(0.5) factor(1);
						@include factor-property(margin-left, 1);
						font-family: $main_font;
						background-color: $main_color;
						color: #fff;
						display: inline-block;
					}
					.unit-avatar {
						@include factor-property(margin-left, 2);
						display: inline-block;
						position: relative;

						top: 27px;

						.shadow { @include prefix(filter, drop-shadow(0px 0px 3px #000)); }
					}

					.report-icon {
						@include factor-property(margin-left, 1);
						display: inline-block;
						i {
							position: relative;
							top: 15px;
							@include font-size(factor(8));
						}
					}

					&.invite {
						text-align: center;
						.unit-avatar {
							margin-left: auto;
							margin-right: auto;
							text-align: center;
							width: 70px;
							display: block;
							@include factor-property(margin-bottom, 6);
						}
					}
				}

				.send-message {

					blockquote { border-left: 5px solid $main_color; }

					&.ban {
						.form-group .characters-remaining {
							letter-spacing: -1px;
							@include font-size(factor(3));
						}
					}

					.report-reason {
						@include factor-property(margin-top, 2);
						display: block;

						.dropdown {
							@include factor-property(margin-left, 1);
							display: inline-block;

							button {
								@include font-size(factor(2.5));
								box-shadow: none;
								color: $main_text_color;

								&:active, &:focus {
									box-shadow: none; transform: translateY(0px);
									background-color: $main_color_dark;
								}
							}
						}
					}

					.form-error {
						height: 30px;
						color: $main_color;

						i {
							@include factor-property(margin-right, 1);
						}
					}

					.form-group {
						@include factor-property(margin-top, 2);

						label {
							@include font-size(factor(3));
							padding: factor(1) factor(2);

							color: $main_color;
							border-left: 10px solid $main_color;
							background-color: white;

						}

						@include factor-property(margin-bottom, 3);

						&.title {
							.form-control {
								font-weight: bold;
								@include font-size(factor(4));
								padding: factor(1) factor(2);
								border-bottom: solid 0px #777;
							}
						}
						.characters-remaining { @include font-size(factor(2)); }

						.input-group {
							display: inline-block;
							width: 100%;

							#messageInputTitle {
								padding: 0 14px;
								font-weight: 100;
								font-family: $sub_font;
								@include font-size(factor(3));
							}

							.number {
								@include font-size(factor(5));
								font-family: $main_font;
								color: $main_color;
								width: 115px;
							}
						}
						.form-control {
							@include font-size(factor(2.5));
							&:focus {
								box-shadow: 0px 0px #000;
							}
						}
					}
				}

				.contract-display {
					text-align: center;

					.mission-name {
						display: inline-block;
						text-transform: uppercase;
						font-family: $main_font;
						letter-spacing: -2px;
						font-weight: 800;

						.operation {
							display: inline-block;
							@include factor-property(margin-right, 1);
						}

						.name {
							display: inline-block;
							color: $main_color;
							@include font-size(factor(5));
						}
					}

					.party {
						vertical-align: top;
						display: inline-block;
						@include factor-property(margin-right, 2);
						@include factor-property(margin-top, 2);

						@include breakpoint("small") {
							@include factor-property(margin-bottom, 4);
						}

						.object-name {
							display: inline-block;
							color: #111;
							@include font-size(factor(3));
							font-family: $main_font;
							font-weight: 800;
							letter-spacing: -1px;
							@include factor-property(margin-bottom, 3);
						}

						.share {
							@include factor-property(margin-top, 3);

							.number {
								font-family: $main_font;
								@include font-size(factor(10));
								font-weight: 800;
								letter-spacing: -10px;
								display: inline-block;
								color: $main_color;
							}

							.percent-sign {
								@include font-size(factor(5));
								@include factor-property(margin-left, 1);
								display: inline-block;
							}
						}

						.unit-avatar {
							.medium {
								.turn {
									z-index: 99;
									position: relative;
									top: 20px;
									color: #ddd;
									text-shadow: 0px 0px 10px #000, 0px 0px 5px #000;

									@include font-size(factor(11));
								}
							}

							&.square {
								.ac-bg-img__full-size, .ac-bg-img__placeholder {
									@include prefix(filter, drop-shadow(0px 0px 3px rgba(0,0,0,.5)));
								}
							}
						}

						.name {
							max-width: 150px;
							@include factor-property(margin-top, 3);
							display: inline-block;
							vertical-align: bottom;
							background: url("/images/cardbg_inverted_light.png") repeat 100%;
							padding: factor(1) factor(1.5);
							@include font-size(factor(2.5));
							letter-spacing: -1px;
							font-weight: 800;
							color: #fff;
							text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;

							@include breakpoint("small") {
								max-width: 350px;
							}
						}

						&.neutral {
							.square .ac-bg-img__full-size, .square .ac-bg-img__placeholder {
								box-shadow: inset 20px 0px 0px #ddd, inset 0px 0px 0px 3px #ddd;
							}
							&.flag .medium { border-color: white; }
						}
						&.opfor {
							.square .ac-bg-img__full-size, .square .ac-bg-img__placeholder {
								box-shadow: inset 20px 0px 0px $opfor_color, inset 0px 0px 0px 3px $opfor_color;
							}
							&.flag .medium { border-color: $opfor_color; }
						}
						&.blufor {
							.square .ac-bg-img__full-size, .square .ac-bg-img__placeholder {
								box-shadow: inset 20px 0px 0px $blufor_color, inset 0px 0px 0px 3px $blufor_color;
							}
							&.flag .medium { border-color: $blufor_color; }
						}

						&.indfor {
							.square .ac-bg-img__full-size, .square .ac-bg-img__placeholder {
								box-shadow: inset 20px 0px 0px $indfor_color, inset 0px 0px 0px 3px $indfor_color;
							}
							&.flag .medium { border-color: $indfor_color; }
						}

						&.flag {
							.medium {
								box-shadow: 0px 0px 10px rgba(0,0,0,.7);
								position: relative !important;
								top: 35px;
								border: 3px solid white;
								@include size(150px, 80px);

								.ac-bg-img__full-size, .square .ac-bg-img__placeholder { box-shadow: none; }
							}
							.name { @include factor-property(margin-top, 13); }
						}
					}

					.contract-fee {
						@include factor-property(margin-top, 3);
						@include factor-property(padding-top, 3);
						border-top: 1px solid #aaa;

						font-family: $main_font;
						letter-spacing: -2px;
						text-align: right;

						.fee-text {
							@include font-size(factor(3));
							background: url("/images/cardbg_inverted_light.png") repeat 100%;
							color: #eee;
							text-shadow: 0px 0px 5px #111;
							padding: factor(.5) factor(2);
							text-transform: uppercase;
						}

						.fee-values {
							.final-value, .fee-value { display: inline-block; }

							.currency { @include font-size(factor(4)); font-weight: 800; }

							.final-value {
								@include font-size(factor(7));
								color: $main_color;
								font-weight: 800;
								letter-spacing: -4px;
							}

							.fee-value { @include font-size(factor(4)); font-weight: 800; }
						}

						@include breakpoint("small") {
							@include font-size(factor(3));
						}
					}

					.slider {
						@include factor-property(margin-top, 3);

						.slider-header {
							h3 {
								letter-spacing: -2px;
								display: inline-block;

								@include breakpoint("small") {
									@include factor-property(margin-bottom, 0);
								}
							}
						}

						.slider-container {
							&.short {
								width: 60%;
								text-align: left;
								display: inline-block;
								@include factor-property(margin-right, 3);
							}
							.rzslider {
								@include factor-property(margin-top, 6);
							}
						}

						.help-icon {
							@include font-size(factor(2));
							display: inline-block;
							background-color: $main_color;
							color: #ddd;
							padding: factor(0) factor(1);
							border-radius: 10px;
							cursor: help;
						}

						.section-button {
							display: inline-block;
						}
					}

					.counter-offer {
						@include factor-property(margin-top, 3);
					}

					.warning {
						@include factor-property(margin-top, 3);
						text-align: left;
						display: block;

						hr {
							@include factor-property(margin-bottom, 3);
						}

						.w-icon {
							background-color: $warning_color;
							display: inline-block;
							padding: factor(0.72) factor(2);
							position: relative;
							top: 1px;

							@include breakpoint("small") {
								@include factor-property(margin-bottom, 2);
							}
						}

						.message {
							padding: factor(1) factor(2);
							background-color: $warning_color;
							@include font-size(factor(2.5));
							display: inline-block;
							letter-spacing: -1px;
						}
					}
				}
			}

			.modal-payment {
				background-color: $main_color;
				padding: factor(2) factor(4);

				.payment-text {
					display: inline-block;
					span.amount {
						font-family: $main_font;
						@include font-size(factor(3));
						border-bottom: solid 1px #fff;
					}
				}

				input[type=checkbox] {
					& ~ label .body { &.check { color: #ccc; }}
					&:checked { & ~ label .body { &.check { color: #fff; }}}
				}
				#barcode-img {
					@include factor-property(margin-left, 1);
					display: inline-block;
					height: 50px;
				}
				@include breakpoint("small") {
					#barcode-img {
						@include factor-property(margin-top, 2);
						display: block;
						height: 50px;
						margin-left: auto;
						margin-right: auto;
					}
				}
				@include breakpoint("tiny") {
					.box { position: relative; left: 45%; }
				}
			}

			.modal-footer {
				background: url("/images/cardbg.png") repeat 100%;
				border-radius: 10px;

				a {
					@include factor-property(margin-left, 1);
				}

				.section-button {
					@include breakpoint("tiny") {
						@include factor-property(margin-top, 2);
					}
				}
			}

			@include breakpoint('small') {

				.modal-header {
					padding: factor(0.5) factor(2);

					.icon { @include font-size(factor(3)) }
					h2.modal-title { @include font-size(factor(2.5)); letter-spacing: -1px; }
				}

				.section-button {
					&.medium {
						li {
							padding: factor(0.5) factor(1);
							@include factor-property(margin-bottom, 2);
						}

						@include font-size($button_font_size_small);
					}
				}

				.receiver {
					@include factor-property(margin-top, 4);
					display: inline-block;
					text-align: center;
				}

				#messageInputBody {
					@include factor-property(height, 20);
				}
			}

		}
	}
}
