
<div class="container-fluid">
	<div class="row">

		<div class="container-fluid fp_header_bg top-spacer-padding">
			<div class="row">
				<div class="container">
					<!-- LOGIN FORM WITH LOGO -->
					<div class="row" id="fp-upper-section">

						<div class="col-md-4 col-sm-4 col-xs-12" id="belligerence-logo">
							<!-- <div class="logo-belligerence-inverted"></div> -->
							<img src="images/belligerence-logo-small-inv.png" id="logo-img" />
							<div class="content">
								<h2>BELLIGERENCE</h2>
								<hr/>
								<h3>War's In Business</h3>
							</div>
						</div>

						<div class="col-md-6 col-md-offset-2 col-sm-offset-1 col-sm-7 col-xs-12">
							<login-directive></login-directive>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fp-scroll-invite">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="icons-container">
							<i class="icon ion-mouse"></i>
							<i class="icon ion-arrow-down-c bounce-arrow-scroll-slow"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="fp-content-intro-alert">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<div data-aos="fade-right" data-aos-delay="250" data-aos-once="true" class="alert-container">

								<div class="col-sm-1">
									<div class="row">
										<div class="icon-container">
											<i class="icon ion-alert"></i>
										</div>
									</div>
								</div>

								<div class="col-sm-11">
									<div class="row">

										<div class="text-container">

											<div class="header-alert">
												ATTENTION:
											</div>

											<div class="description-alert">
												<p>
													Currently, the <strong>BELLIGERENCE</strong> app is still in its Alpha state, meaning it is available for testing and bug hunting purposes only - content and functionality may be modified at any time without prior notice. <i>Best viewed in Chrome</i>.
												</p>
												<p>
													Please report any issues at the <a href="https://github.com/Neefay/Belligerence/issues" target="_blank">GitHub repository</a> (<i>or just hit me up on Discord if you know how to reach me</i>). You may also use the Reporting System should you find any broken content or <a ui-sref="app.public.rules">rule violation</a>.
												</p>
											</div>

										</div>

									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- FRONTPAGE DESCRIPTION TEXT -->
		<div class="container-fluid" id="fp-content-section-outer">
			<div class="row">
				<div class="container" id="fp-content-section-inner">
					<div class="row">
						<div class="col-sm-12">

							<div id="fp-point-section-container">

								<div class="col-md-12">
									<div class="row">
										<div class="point-section left first">
											<div class="col-md-4 col-sm-4 col-xs-12">
												<div class="row">
													<div class="bg fp_first_section_bg"></div>
												</div>
											</div>
											<div class="col-md-8 col-sm-8 col-xs-12">
												<div class="row">
													<div class="text">
														<h2>Lead, Assist, Follow</h2>
														<div data-aos="fade-up" data-aos-delay="250">
															<h3>
																From charismatic commander to faceless grunt, you determine your role in the battlefield.
															</h3>
															<p data-aos="fade-up" data-aos-delay="250">
																In BELLIGERENCE, players are able to choose between three different classes, all with their own unique fundamental responsibilities and roles.
															</p>
															<p data-aos="fade-up" data-aos-delay="250">
																Create and lead your own Outfit as a <strong>Commander</strong>, or be a part of one of its many arms as a <strong>Soldier</strong>. Not interested in comitting? Then live contract-to-contract as a <strong>Freelancer</strong>.
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="row">
										<div class="point-section right">
											<div data-aos="fade-right" data-aos-duration="600" class="col-xs-12 hidden-sm hidden-md hidden-lg">
												<div class="row">
													<div class="bg fp_second_section_bg"></div>
												</div>
											</div>
											<div data-aos="fade-up" class="col-md-7 col-sm-6 col-xs-12">
												<div class="row">
													<div class="text">
														<h2>Build an arsenal</h2>
														<div data-aos="fade-up" data-aos-delay="250">
															<h3>
																Utilize your resources and bring the fight to your own terms.
															</h3>
															<p data-aos="fade-up" data-aos-delay="250">
																Strategy alone will not win the battle. A vast selection of gear and weapons is available for purchase, and their posession and mastery will be instrumental to the success of all operators.
															</p>
															<p data-aos="fade-up" data-aos-delay="250">
																From heavily armored tanks to high precision equipment, it's entirely up to you to choose the right tools for the job, crushing your enemies by surprise, or earning the respect of your allies.
															</p>
														</div>
													</div>
												</div>
											</div>
											<div data-aos="fade-right" data-aos-duration="600" class="col-md-5 col-sm-6 hidden-xs">
												<div class="row">
													<div class="bg fp_second_section_bg"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="row">
										<div class="point-section left third auto-height">
											<div data-aos="fade-left" data-aos-duration="600" class="col-md-4 col-sm-4 col-xs-12">
												<div class="row">
													<div class="bg fp_third_section_bg"></div>
												</div>
											</div>
											<div data-aos="fade-up" class="col-md-8 col-sm-8 col-xs-12">
												<div class="row">
													<div class="text">
														<h2>Specialize and enterprise</h2>
														<div data-aos="fade-up" data-aos-delay="250">
															<h3>
																Build a unique approach	and forge the path that defines you.
															</h3>
															<p data-aos="fade-up" data-aos-delay="250">
																It is said that in the battlefield, it always comes down to a man and his rifle. But modern combat has long evolved beyond this simplistic and naive view, demanding from professionals a deep understanding of various doctrines.
															</p>
															<p data-aos="fade-up" data-aos-delay="250">
																Introducing the <strong>Upgrades System</strong>, an integral part of BELLIGERENCE. Earn certificates that will allow you access to better gear, or give you the chance to work with powerful factions.
															</p>
															<p data-aos="fade-up" data-aos-delay="250">
																Destroy your enemies with airstrikes, or reinforce your team-mates with supply drops. Increase your stamina, improve your aiming, or carry heavier weights. Carve your progress and become the master of your own skills.
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="row">
										<div class="point-section right">
											<div data-aos="fade-right" data-aos-duration="600" class="col-xs-12 hidden-sm hidden-md hidden-lg">
												<div class="row">
													<div class="bg fp_fourth_section_bg"></div>
												</div>
											</div>
											<div data-aos="fade-up" data-aos-duration="600" class="col-md-8 col-sm-7 col-xs-12">
												<div class="row">
													<div class="text">
														<h2>Grow your business</h2>
														<div data-aos="fade-up" data-aos-delay="250">
															<h3>
																Exploit every success into a new opportunity.
															</h3>
															<p data-aos="fade-up" data-aos-delay="250">
																Fighting alone is suicide and you are encouraged to bring your buddies along, but beware: your choices of alliances are limited and every filled slot matters.
															</p>
															<p data-aos="fade-up" data-aos-delay="250">
																As your victories pile up and your reputation stands proven, it's up to you to decide who to hire and what skill-sets to keep or acquire; should you need more manpower, it's always possible to extend the capacity of your Outfit - for a price.
															</p>
														</div>
													</div>
												</div>
											</div>
											<div data-aos="fade-right" data-aos-duration="600" class="col-md-4 col-sm-5 hidden-xs">
												<div class="row">
													<div class="bg fp_fourth_section_bg"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="row">
										<div class="point-section left last">
											<div data-aos="fade-left" data-aos-duration="600" class="col-md-6 col-sm-6 hidden-xs">
												<div class="row">
													<div class="bg fp_fifth_section_bg"></div>
												</div>
											</div>
											<div data-aos="fade-up" class="col-md-6 col-sm-6 col-xs-12">
												<div class="row">
													<div class="text">
														<h2>All for profit</h2>
														<div data-aos="fade-up" data-aos-delay="250">
															<h3>
																Not for honor, not for any higher cause - business first, and foremost.
															</h3>
															<p data-aos="fade-up" data-aos-delay="250">
																Alliances are temporary, but glory is eternal. In BELLIGERENCE, operators fight not for any ideological cause or principles, but for the sole objective of increasing their financial bottom line.
															</p>
															<p data-aos="fade-up" data-aos-delay="250">
																Availability for the best contracts will not always align with your personal preferences, and what separates those who fail from those who make it is the flexibility to refer to your peers as both "friend" and "target".
															</p>
														</div>
													</div>
												</div>
											</div>
											<div data-aos="fade-left" data-aos-duration="600" class="col-xs-12 hidden-sm hidden-md hidden-lg">
												<div class="row">
													<div class="bg fp_fifth_section_bg"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid white-bg-background">
	<div class="row">
		<div class="container" id="fp-end-call">
			<div class="row">
				<div class="col-md-12 headline-column">
					<div class="row">
						<div class="main-headline">
							<h2>AN ENGINE OF WAR</h2>
						</div>
					</div>
				</div>
				<div class="col-md-12 main-column">
					<div class="row">
						<div data-aos="flip-left" data-aos-delay="150" data-aos-once="true" class="col-md-4 col-sm-4 col-xs-12">
							<div class="info-column">
								<div class="factions-icon column-icon"></div>
								<div class="text-description">
									Persistent combat
								</div>
								<div class="text-info" data-aos="fade-up" data-aos-delay="250" data-aos-once="true">
									In the world of hired soldiers, Factions set the stage for the action. Meticulously modelled to reflect their many characteristics and interests, some clients will offer more handsome rewards at the expense of tougher contracts, while others might enable beginners to take on simpler objectives.
								</div>
							</div>
						</div>
						<div data-aos="flip-left" data-aos-delay="1000" data-aos-once="true" class="col-md-4 col-sm-4 col-xs-12">
							<div class="info-column">
								<div class="mission-icon column-icon"></div>
								<div class="text-description">
									Deadly deals
								</div>
								<div class="text-info" data-aos="fade-up" data-aos-delay="1250" data-aos-once="true">
									Once factions are locked into conflicts over certain regions, they will continuously make Contracts available, which the players can then select based on their current disposition. Keep in mind that all of which have not only a time limit, but also a maximum of operators allowed to be simulaneously engaged.
								</div>
							</div>
						</div>
						<div data-aos="flip-left" data-aos-delay="2000" data-aos-once="true" class="col-md-4 col-sm-4 col-xs-12">
							<div class="info-column">
								<div class="city-icon column-icon"></div>
								<div class="text-description">
									Everything or nothing
								</div>
								<div class="text-info" data-aos="fade-up" data-aos-delay="2250" data-aos-once="true">
									<p>
										Once a contract has been undertaken, it's all fair game. Hire Freelancers for whatever support you may need, forge temporary alliances with similarly aligned Outfits, purchase some specifically useful equipment, draw your plans to perfection.
									</p>
									<p>
										In BELLIGERENCE there are no second chances, and a mission that's failed once remains a failure forever.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 bottom-column">
					<div class="row">
						<div class="sub-headline">
							<h3>Choose your class, purchase some gear, and jump into the action: in this game, the depth of your duties is determined by you.</h3>
							<h3><strong>In the name of none, let Greed be the shepherd of carnage for those who stake their lives to the highest bidders.</strong></h3>
						</div>
						<div class="join-button">
							<a href="/signup" role="button" class="section-button big">
								<ul>
									<li><i class="icon ion-android-person-add"></i></li>
									<li>SIGN UP</li>
								</ul>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid main-color-background">
	<div class="row">
		<div class="container">

			<!-- NEWS INTEL -->
			<div class="row" id="fp-intel-container">
				<div class="col-sm-12">
					<h2>Intel</h2>
					<h3>What's been going on out there.</h3>

					<hr/>

					<intel-directive></intel-directive>
				</div>
			</div>
		</div>
	</div>
</div>

<footer-directive></footer-directive>