<div class="container-fluid top-spacer" id="single-item-container">
	<div class="container">
		<div class="fade-animation-slow" ng-if="(CtrlSingleItem.showItem)" ng-cloak>
			<div class="body">
				<div class="row display-items">

					<div class="col-md-12">
						<div class="action-bar">
							<div class="pull-left">
								<a ng-click="CtrlSingleItem.askSendReport(CtrlSingleItem.itemInfo)" class="section-button warning muted" role="button">
									<ul>
										<li><i class="icon ion-alert-circled"></i></li>
										<li>Report Item</li>
									</ul>
								</a>
							</div>

							<div class="pull-right" ng-if="(CtrlSingleItem.selfInfo.playerPrivilege <= 1)" ng-cloak>
								<a ng-href="admin?menu=content&section=item&editHash={{::(CtrlSingleItem.itemInfo.hashField)}}" class="section-button warning small" role="button">
									<ul>
										<li><i class="icon ion-edit"></i></li>
										<li>Edit Item</li>
									</ul>
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="row">

							<div class="col-md-4 col-sm-5 picture">
								<div class="visible-xs-block item-details">
									<div class="top">
										<h2 ng-bind="::(CtrlSingleItem.itemInfo.nameField)"></h2>
										<a ng-href="{{::(CtrlSingleItem.generateLink('qClass', 'classField'))}}">
											<div class="classes" ng-bind="::(CtrlSingleItem.itemClasses[CtrlSingleItem.itemInfo.classField].name)"></div>
										</a>
										<hr />
									</div>
								</div>
								<img ng-src="images/modules/items/main_{{::(CtrlSingleItem.itemInfo.hashField)}}.jpg" width="100%">
								<div class="classname" ng-bind="::(CtrlSingleItem.itemInfo.classnameField)"></div>
								<div class="content-container">
									<a ng-href="{{::(CtrlSingleItem.generateLink('qContent', 'contentField'))}}">
										<i class="icon ion-at"></i>
										<div class="content" ng-bind="::(CtrlSingleItem.contentData[CtrlSingleItem.itemInfo.contentField]).text"></div>
									</a>
								</div>
							</div>

							<div class="col-md-8 col-sm-7 item-details">

								<div class="top visible-lg-block visible-md-block visible-sm-block">
									<h2 ng-bind="::(CtrlSingleItem.itemInfo.nameField)"></h2>
									<a ng-href="{{::(CtrlSingleItem.generateLink('qClass', 'classField'))}}">
										<div class="classes" ng-bind="::(CtrlSingleItem.itemClasses[CtrlSingleItem.itemInfo.classField].name)"></div>
									</a>
									<hr />
								</div>

								<div class="body">

									<div class="single-property">
										<div class="description">Production Year:</div>
										<a ng-href="{{::(CtrlSingleItem.generateLink('qYearMin', 'productionYear'))}}">
											<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.productionYear)"></div>
										</a>
									</div>

									<div class="single-property">
										<div class="description">Description:</div>
										<div class="property long" ng-bind="::(CtrlSingleItem.itemInfo.descriptionField)" ></div>
									</div>

								</div>

								<div class="visible-lg-block visible-md-block col-md-12 bottom-properties">
									<div class="row item-details">
										<div class="body">
											<div class="single-property" ng-if="::(CtrlSingleItem.itemInfo.detailField1)" ng-cloak>
												<div class="description" ng-bind="::(CtrlSingleItem.itemTypes[CtrlSingleItem.itemInfo.typeField].details[0])"></div>
												<a ng-href="{{::(CtrlSingleItem.generateLink('qDetail1', 'detailField1'))}}">
													<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.detailField1)"></div>
												</a>
											</div>
											<div class="single-property" ng-if="::(CtrlSingleItem.itemInfo.detailField2)" ng-cloak>
												<div class="description" ng-bind="::(CtrlSingleItem.itemTypes[CtrlSingleItem.itemInfo.typeField].details[1])"></div>
												<a ng-href="{{::(CtrlSingleItem.generateLink('qDetail2', 'detailField2'))}}">
													<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.detailField2)"></div>
												</a>
											</div>
											<div class="single-property" ng-if="::(CtrlSingleItem.itemInfo.detailField3)" ng-cloak>
												<div class="description" ng-bind="::(CtrlSingleItem.itemTypes[CtrlSingleItem.itemInfo.typeField].details[2])"></div>
												<a ng-href="{{::(CtrlSingleItem.generateLink('qDetail3', 'detailField3'))}}">
													<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.detailField3)"></div>
												</a>
											</div>
											<div class="single-property" ng-if="::(CtrlSingleItem.itemInfo.detailField4)" ng-cloak>
												<div class="description" ng-bind="::(CtrlSingleItem.itemTypes[CtrlSingleItem.itemInfo.typeField].details[3])"></div>
												<a ng-href="{{::(CtrlSingleItem.generateLink('qDetail4', 'detailField4'))}}">
													<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.detailField4)"></div>
												</a>
											</div>
											<div class="single-property" ng-if="::(CtrlSingleItem.itemInfo.detailField5)" ng-cloak>
												<div class="description" ng-bind="::(CtrlSingleItem.itemTypes[CtrlSingleItem.itemInfo.typeField].details[4])"></div>
												<a ng-href="{{::(CtrlSingleItem.generateLink('qDetail5', 'detailField5'))}}">
													<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.detailField5)"></div>
												</a>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>

					</div>

					<div class="visible-sm-block visible-xs-block col-md-12 bottom-properties">
						<div class="item-details">
							<div class="body">
								<div class="single-property" ng-if="::(CtrlSingleItem.itemInfo.detailField1)" ng-cloak>
									<div class="description" ng-bind="::(CtrlSingleItem.itemTypes[CtrlSingleItem.itemInfo.typeField].details[0])"></div>
									<a ng-href="{{::(CtrlSingleItem.generateLink('qDetail1', 'detailField1'))}}">
										<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.detailField1)"></div>
									</a>
								</div>
								<div class="single-property" ng-if="::(CtrlSingleItem.itemInfo.detailField2)" ng-cloak>
									<div class="description" ng-bind="::(CtrlSingleItem.itemTypes[CtrlSingleItem.itemInfo.typeField].details[1])"></div>
									<a ng-href="{{::(CtrlSingleItem.generateLink('qDetail2', 'detailField2'))}}">
										<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.detailField2)"></div>
									</a>
								</div>
								<div class="single-property" ng-if="::(CtrlSingleItem.itemInfo.detailField3)" ng-cloak>
									<div class="description" ng-bind="::(CtrlSingleItem.itemTypes[CtrlSingleItem.itemInfo.typeField].details[2])"></div>
									<a ng-href="{{::(CtrlSingleItem.generateLink('qDetail3', 'detailField3'))}}">
										<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.detailField3)"></div>
									</a>
								</div>
								<div class="single-property" ng-if="::(CtrlSingleItem.itemInfo.detailField4)" ng-cloak>
									<div class="description" ng-bind="::(CtrlSingleItem.itemTypes[CtrlSingleItem.itemInfo.typeField].details[3])"></div>
									<a ng-href="{{::(CtrlSingleItem.generateLink('qDetail4', 'detailField4'))}}">
										<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.detailField4)"></div>
									</a>
								</div>
								<div class="single-property" ng-if="::(CtrlSingleItem.itemInfo.detailField5)" ng-cloak>
									<div class="description" ng-bind="::(CtrlSingleItem.itemTypes[CtrlSingleItem.itemInfo.typeField].details[4])"></div>
									<a ng-href="{{::(CtrlSingleItem.generateLink('qDetail5', 'detailField5'))}}">
										<div class="property" ng-bind="::(CtrlSingleItem.itemInfo.detailField5)"></div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		    <div class="footer">
				<div class="col-md-12">
					<div class="row">
						<a ng-href="https://en.wikipedia.org/wiki/{{::(CtrlSingleItem.itemInfo.infoField)}}"  class="section-button medium muted space-right" role="button" ng-if="::(CtrlSingleItem.itemInfo.infoField !== '')">
							<ul>
								<li><i class="icon ion-ios-world-outline"></i></li>
								<li>Wikipedia</li>
							</ul>
						</a>
						<a ng-href="market/buy?itemFilter={{::(CtrlSingleItem.itemInfo.hashField)}}" class="section-button medium success" role="button">
							<ul>
								<li><i class="icon ion-android-cart"></i></li>
								<li>Find in Stores</li>
							</ul>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer-directive></footer-directive>