<div id="legal-container" class="container-fluid top-spacer" ng-init="Ctrl = CtrlLegal; Ctrl.getProjectLicense();">
	<div class="container">
		<div class="row">

			<h1>Legal</h1>
			<h3>Don't look at me like this. I didn't want this either. It's not my fault. Blame the System.</h3>
			<h3>See also the <a ui-sref="app.public.rules">Rules</a>. I mean it.</h3>

			<uib-accordion>
				<div uib-accordion-group is-open="status.termsOpen">
					<uib-accordion-heading>
						Terms of Service <i class="icon pull-right" ng-class="Ctrl.getChevron(status.termsOpen)"></i>
					</uib-accordion-heading>

					<div class="col-md-12 section">

						<div class="row">
							<h2>Terms of Service</h2>
							<h3>Because everyone can be sued for everything these days. What can you do?</h3>
							<h4><i>Effective as of March 1st, 2019</i></h4>
						</div>

						<div class="row">
							<hr/>
						</div>

						<div class="text-list">
							<div class="row">
								<h3>1. Introduction</h3>
								<ol type="a">
									<li>
										These Website Standard Terms And Conditions (these “Terms” or these “Website Standard Terms And Conditions”) contained herein on this webpage, shall govern your use of this website, including all pages within this website (collectively referred to herein below as this “Website”).
									</li>
									<li>
										These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly accept all terms and conditions contained herein in full.
									</li>
									<li>
										You must not use this Website, if you have any objection to any of these Website Standard Terms And Conditions.
									</li>
								</ol>
							</div>
						</div>

						<div class="text-list">
							<div class="row">
								<h3>2. Use License</h3>
								<ol type="a">
								   <li>Permission is granted to temporarily download one copy of the materials (information or software) on <strong>BELLIGERENCE</strong>'s website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
								   <ol type="i">
								       <li>modify or copy the materials;</li>
								       <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
								       <li>attempt to decompile or reverse engineer any software contained on <strong>BELLIGERENCE</strong>'s website;</li>
								       <li>remove any copyright or other proprietary notations from the materials; or</li>
								       <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
								   </ol>
								    </li>
								   <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by <strong>BELLIGERENCE</strong> at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
								</ol>
							</div>
						</div>

						<div class="text-list">
							<div class="row">
								<h3>3. Disclaimer</h3>
								<ol type="a">
								   <li>The materials on <strong>BELLIGERENCE</strong>'s website are provided on an 'as is' basis. <strong>BELLIGERENCE</strong> makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
								   <li>Further, <strong>BELLIGERENCE</strong> does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
								</ol>
							</div>
						</div>

						<div class="text-list">
							<div class="row">
								<h3>4. Limitations</h3>
								<p>In no event shall <strong>BELLIGERENCE</strong> or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on <strong>BELLIGERENCE</strong>'s website, even if <strong>BELLIGERENCE</strong> or a <strong>BELLIGERENCE</strong> authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
							</div>
						</div>

						<div class="text-list">
							<div class="row">
								<h3>5. Accuracy of materials</h3>
								<p>The materials appearing on <strong>BELLIGERENCE</strong>'s website could include technical, typographical, or photographic errors. <strong>BELLIGERENCE</strong> does not warrant that any of the materials on its website are accurate, complete or current. <strong>BELLIGERENCE</strong> may make changes to the materials contained on its website at any time without notice. However <strong>BELLIGERENCE</strong> does not make any commitment to update the materials.</p>
							</div>
						</div>

						<div class="text-list">
							<div class="row">
								<h3>6. Links</h3>
								<p><strong>BELLIGERENCE</strong> has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by <strong>BELLIGERENCE</strong> of the site. Use of any such linked website is at the user's own risk.</p>
							</div>
						</div>

						<div class="text-list">
							<div class="row">
								<h3>7. Modifications</h3>
								<p><strong>BELLIGERENCE</strong> may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
							</div>
						</div>

						<div class="text-list">
							<div class="row">
								<h3>8. Governing Law</h3>
								<p>These terms and conditions are governed by and construed in accordance with the laws of United States/EU and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
							</div>
						</div>

					</div>

				</div>

				<div uib-accordion-group is-open="status.privacyOpen">
					<uib-accordion-heading>
						Privacy Policy <i class="icon pull-right" ng-class="Ctrl.getChevron(status.privacyOpen)"></i>
					</uib-accordion-heading>

					<div class="col-md-12 section">

						<div class="row">
							<h2>Privacy Policy</h2>
							<h3>I've heard something about these being updated recently.</h3>
							<h4><i>Effective as of March 1st, 2019</i></h4>
						</div>

						<div class="row">
							<hr/>
						</div>

						<div class="text-list">
							<div class="row">
								<p>Your privacy is important to us. It is our policy to respect your privacy regarding any information we may collect from you across our app.</p>
								<p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
								<p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.</p>
								<p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
								<p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
								<p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
								<p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
							</div>
						</div>
					</div>

				</div>

				<div uib-accordion-group is-open="status.licenseOpen">
					<uib-accordion-heading>
						License <i class="icon pull-right" ng-class="Ctrl.getChevron(status.licenseOpen)"></i>
					</uib-accordion-heading>

					<div class="col-md-12 section">
						<div class="row">
							<h2>License</h2>
							<h4>This project is open-source, as far as I'm concerned you can pick it apart and do whatever you want with it - however, I encourage contributors to submit pull requests so that everyone can benefit. Either way, here's the whole thing just so that we're clear.</h4>
						</div>

						<div class="row">
							<hr/>
						</div>

						<div class="row">
							<div class="license" ng-if="Ctrl.licenseData" ng-init="license = Ctrl.licenseData;">
								<code ng-bind="::(license.name)"></code>
								<code ng-bind="::(license.body)"></code>
							</div>
						</div>
					</div>
				</div>
			</uib-accordion>

			<div class="end-call">
				<h4><strong>BELLIGERENCE</strong> was planned, produced, and executed by Ian Ribeiro, and currently hosted at <a href="https://github.com/Neefay/Belligerence" target="_blank">GitHub</a>.</h4>
			</div>

		</div>
	</div>
</div>

<footer-directive></footer-directive>