<div class="container-fluid top-spacer generic-object single" id="single-objective-container" ng-init="Controller = CtrlSingleObjective;">
	<div class="container">
		<div class="fade-animation-slow" ng-if="(Controller.showObject)" ng-cloak>

			<div class="header">
				<div class="col-md-12">
					<div class="row pull-left">
						<a ng-click="Controller.askReportObject(Controller.objectInfo)" class="section-button warning muted" role="button">
							<ul>
								<li><i class="icon ion-alert-circled"></i></li>
								<li>Report {{::(Controller.objectSettings.name)}}</li>
							</ul>
						</a>
					</div>
					<div class="row pull-right" ng-if="(Controller.selfInfo.playerPrivilege <= 1)" ng-cloak>
						<a ng-href="admin?menu=content&section={{::(Controller.objectSettings.name).toLowerCase()}}&editHash={{::(Controller.objectInfo[Controller.objectSettings.hash_property])}}" class="section-button warning small" role="button">
							<ul>
								<li><i class="icon ion-edit"></i></li>
								<li>Edit {{::(Controller.objectSettings.name)}}</li>
							</ul>
						</a>
					</div>
				</div>
			</div>

			<div class="body">
				<div class="row display-object" ng-class="::(Controller.applyControlledClass(Controller.objectInfo.sideField))">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4 col-sm-5">
								<div class="visible-xs-block object-details">
									<div class="top">
										<h2 ng-bind="::(Controller.objectInfo.nameField)"></h2>
										<hr />
									</div>
								</div>

								<div class="sidebar object-details">

									<img
										class="big-icon"
										src="images/modules/{{::Controller.objectSettings.image_folder}}/main_{{::(Controller.objectInfo[Controller.objectSettings.image_property])}}.{{::(Controller.objectSettings.image_extension)}}"
										width="100%"
									/>

									<div class="rating">
										<div class="label">
											<a class="description" href="objectives?qDifficultyMin={{::(Controller.objectInfo.difficultyField)}}">Difficulty rating</a>
											<i
												class="icon ion-help help"
												popover-trigger="'mouseenter'"
												popover-class="tooltip"
												uib-popover="How challenging is the objective."
											></i>
										</div>
										<ul class="rating-container">
											<li
												class="rating-icon"
												ng-repeat="rating in [1,2,3,4,5] track by $index"
											>
												<i class="icon" ng-class="::(Controller.getRatingIcon(rating))"></i>
											</li>
										</ul>
									</div>

									<div class="modifiers">
										<ul class="modifiers-container">
											<li
												class="modifier-object"
												ng-if="::(Controller.objectInfo.adversarialField)"
												popover-trigger="'mouseenter'"
												popover-class="tooltip"
												popover-append-to-body="true"
												popover-popup-delay="100"
												uib-popover="Adversarial - both sides allowed."
											>
												<a ng-href="objectives?qAdversarial=true">
													<i class="icon ion-arrow-shrink"></i>
													<div class="value">Adversarial</div>
												</a>
											</li>
											<li
												class="modifier-object"
												ng-if="::(Controller.objectInfo.captureField)"
												popover-trigger="'mouseenter'"
												popover-class="tooltip"
												popover-append-to-body="true"
												popover-popup-delay="100"
												uib-popover="Will capture the Location if completed."
											>
												<a ng-href="objectives?qCapture=true">
													<i class="icon ion-ios-flag"></i>
													<div class="value">Capturable</div>
												</a>
											</li>
										</ul>
									</div>

								</div>
							</div>

							<div class="col-md-8 col-sm-7 object-details">
								<div class="top visible-lg-block visible-md-block visible-sm-block">
									<h2 ng-bind="::(Controller.objectInfo.nameField)"></h2>
									<hr />
								</div>

								<div class="body spaced">
									<div class="col-md-12 col-sm-12">
										<div class="row">
											<div class="col-md-12 col-sm-12">
												<div class="row">
													<div class="single-property">
														<div class="label">
															<div class="description">Description</div>
														</div>
														<div class="property long" ng-bind="::(Controller.objectInfo.descriptionField)" ></div>
													</div>
												</div>
											</div>
											<div class="col-md-12 col-sm-12">
												<div class="row">
													<div class="col-md-6 col-sm-12">
														<div class="row">
															<div class="single-property">
																<div class="label">
																	<div class="description">Completion condition</div>
																</div>
																<div class="property long description success" ng-bind="::(Controller.objectInfo.successDescField)" ></div>
															</div>
														</div>
													</div>
													<div class="col-md-6 col-sm-12">
														<div class="row">
															<div class="single-property">
																<div class="label">
																	<div class="description">Failure Condition</div>
																</div>
																<div class="property long description" ng-bind="::(Controller.objectInfo.failureDescField)"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="visible-lg-block visible-md-block visible-sm-block col-md-12 bottom-properties">
									<div class="row object-details">

										<div class="body">
											<div class="single-property" ng-cloak ng-repeat="property in Controller.objectSettings.simpleProperties track by $index">
												<div class="label">
													<div class="description" ng-bind="::(property.label)"></div>
													<i
														class="icon ion-help help"
														popover-trigger="'mouseenter'"
														popover-class="tooltip"
														uib-popover="{{::(property.tooltip)}}"
													></i>
												</div>
												<a
													ng-if="::(property.query_property)"
													ng-href="{{::(Controller.generateLink(property.query_property, property.model_property))}}"
												>
													<div class="property" ng-bind="::(Controller.displayProperty(property))"></div>
												</a>
												<div
													class="property"
													ng-if="::(!(property.query_property))"
													ng-bind="::(Controller.displayProperty(property))">
												</div>
											</div>
										</div>

										<div
											class="body spaced-half"
											ng-repeat="property in Controller.objectSettings.matchedIndexProperties track by $index"
											ng-if="::(Controller.objectInfo[property.model_property].length > 0)"
										ng-cloak>

											<div class="single-property block spaced-half">
												<div class="label">
													<a ng-href="{{::(Controller.generateLink(property.query_property, property.model_property))}}">
														<div class="description" ng-bind="::(property.label)"></div>
													</a>
													<i
														class="icon ion-help help"
														popover-trigger="'mouseenter'"
														popover-class="tooltip"
														uib-popover="{{::(property.tooltip)}}"
													></i>
												</div>
												<div class="matched-property"
												ng-repeat="object in ::(property.model()) track by $index">
													<a ng-href="objectives?{{::(property.query_property)}}={{::(object.data)}}">
														<div class="property" ng-bind="::(object.text)"></div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="visible-xs-block col-md-12 bottom-properties">
						<div class="object-details">
							<div class="body">
								<div class="single-property" ng-cloak ng-repeat="property in Controller.objectSettings.simpleProperties track by $index">
									<div class="label">
										<div class="description" ng-bind="::(property.label)"></div>
										<i
											class="icon ion-help help"
											popover-trigger="'mouseenter'"
											popover-class="tooltip"
											uib-popover="{{::(property.tooltip)}}"
										></i>
									</div>
									<a
										ng-if="::(property.query_property)"
										ng-href="{{::(Controller.generateLink(property.query_property, property.model_property))}}"
									>
										<div class="property" ng-bind="::(Controller.displayProperty(property))"></div>
									</a>
									<div
										class="property"
										ng-if="::(!(property.query_property))"
										ng-bind="::(Controller.displayProperty(property))">
									</div>
								</div>
							</div>
							<div
								class="body spaced-half"
								ng-repeat="property in Controller.objectSettings.matchedIndexProperties track by $index"
								ng-if="::(Controller.objectInfo[property.model_property].length > 0)"
							ng-cloak>

								<div class="single-property block spaced-half">
									<div class="label">
										<a ng-href="{{::(Controller.generateLink(property.query_property, property.model_property))}}">
											<div class="description" ng-bind="::(property.label)"></div>
										</a>
										<i
											class="icon ion-help help"
											popover-trigger="'mouseenter'"
											popover-class="tooltip"
											uib-popover="{{::(property.tooltip)}}"
										></i>
									</div>
									<div class="matched-property"
									ng-repeat="object in ::(property.model()) track by $index">
										<a ng-href="objectives?{{::(property.query_property)}}={{::(object.data)}}">
											<div class="property" ng-bind="::(object.text)"></div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<footer-directive></footer-directive>