<div id="rules-container" class="container-fluid top-spacer" ng-init="Ctrl = CtrlLegal;">
	<div class="container">
		<div class="row">

			<div class="col-md-12 section">
				<div class="row">
					<h1>Rules</h1>
					<h3>Even guns-for-hire still have standards.</h3>
					<h3>See also the <a ui-sref="app.public.legal">Legal Terms</a>.</h3>
				</div>

				<div class="row">
					<hr/>
				</div>

				<div class="rules-list">
					<div class="row">
						<div class="section">
							<h3>1. Conduct</h3>
							<ol type="i">
								<li>
									Do not intentionally harass other players. The game is meant to be competitive and acidic, but if you act like a jerk for the hell of it, it'll just cause issues for everyone.
								</li>
								<li>
									This of course includes publishing any "dox" or the release of personal information.
								</li>
								<li>
									While I will not be policing the tone and quality used around the game, all players are highly encouraged to play their part as professionals and act with a degree of sophistication.
								</li>
								<li>
									That said, spamming or intentionally flooding will make you liable to punishment.
								</li>
								<li>
									Posting any advertisement or shilling for some third-party entity, especially those unrelated to the project, is strictly forbidden.
								</li>
								<li>
									If you're well versed in web development, you will no doubt find quite a few bugs. While I appreciate all and any reports, players caught making exploit of them will be punished accordingly.
								</li>
								<li>
									I will do my best to uphold freedom of speech, especially between consenting players, but please do also keep in mind I'm using this version of the app as a portfolio, and I reserve myself the right to edit or remove any public content that would upset a potential employer.
								</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="section">
							<h3>2. Content</h3>
							<ol type="i">
								<li>
									Do not, and I seriously mean DO NOT upload any material that violates any US/EU laws. You know the kind of stuff I'm talking about. First and last warning.
								</li>
								<li>
									No porn or gore. Absolutely none. <strong>BELLIGERENCE</strong> is considered "work-safe" and if you push the envelope on this one, your account will be terminated.
								</li>
								<li>
									This one goes back to what I said earlier about this being a portfolio project: please think of whatever images you use or upload as this could get me in some serious trouble or even miss potential job offers.
								</li>
								<li>
									Abusing the Report System for any reason will just result in you being banned instead.
								</li>
							</ol>
						</div>
					</div>
				</div>

				<div class="end-call">
					Sorry if the rules for now are too strict. Hopefully when we have a proper server and I'm not bound to play nice, we can make them a bit more lax. Thank you for understanding.
				</div>

			</div>

		</div>
	</div>
</div>

<footer-directive></footer-directive>