# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Ignore these folders
/node_modules
/bower_components
/logs
/uploads
/build
/public/js/*
/public/styles/*

# Too large for the repo
/public/images/bg/*
/public/images/favicons/*.png
/public/images/favicons/*.ico

# It's complicated
views/components/singletons/dev.ejs

# Go away npm
package-lock.json

# Thank you for the nightmares, node-gyp
binding.gyp

# No workspace stuff either
*.sublime-workspace
*.sublime-project

# Environment variables
*.env

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Jetbrains IDE
.idea