<div id="inventory-container">
	<h2>Inventory</h2>
	<h3>Here you can check what items are owned by you, and mark them for deployment along in your missions.</h3>

	<hr />

	<a ng-click="CtrlDashboard.reloadSelfInventory()" class="section-button default medium animated" role="button">
		<ul>
			<li><i class="icon ion-refresh"></i></li>
			<li>Refresh</li>
		</ul>
	</a>

	<div class="directive-items-container fade-animation-slow" ng-if="CtrlDashboard.displayInventory" ng-cloak>
		<items-directive
			item-list="CtrlDashboard.currentInventory"
			display-mode="inventory"
		></items-directive>
	</div>
</div>