
#page-alerts-container {
	position: fixed;

	@include factor-property(top, 0);
	left: 100%;
	transform: translate(-100%, 0);

	z-index: 9999;

	@include breakpoint('small') { @include factor-property(top, 9); }

	.move-down {
		@include factor-property(margin-top, 8);
	}

	#page-alerts-messages { width: inherit;	}

	#close-alerts {
		position: absolute;
		top: 10px;
	}

	.alert {
		padding: 0px;
		padding-top: 10px;
	}

	.alert-msg {
		display: inline-block;
		width: 65%;
		text-align: center;
	}

	.page-alerts {
		$duration: .5s;
		$easing: cubic-bezier(1, 1, 0.265, 0.95);
		@include transition(height $duration $easing, padding $duration $easing, margin-bottom $duration $easing);
		text-align: center;
		height: 50px;

		overflow: visible;

		@include factor-property(margin-bottom, 1);
		@include prefix(box-shadow, 0 0 10px rgba(10,10,10,0.5));

		.icon {
			@include font-size(factor(4));
			position: relative;
			left: 10px;
			top: -10px;
			float: left;
		}

		.close {
			@include font-size(factor(7));

			line-height: 0;
			display: inline-block;
			position: relative;
			top: 5px;
			right: 10px;
			float: right;
		}

		&.closing {
			overflow-y: hidden;
			margin-bottom: 0px;
		}
	}

	.btn {
		@include prefix(box-shadow, 0 0 10px rgba(10,10,10,0.5));
		@include factor-property(margin-bottom, 3);

		i {
			@include factor-property(margin-right, 1);
		}
	}

	.animation {
		$delay_xfast: .25s;
		$delay_fast: .5s;
		$delay_slow: 1s;
		$delay_xslow: 1.5s;

		$animationIn: fadeInDown;
		$animationOut: fadeOutDown;

		$delay_in: $delay_slow;
		$delay_out: $delay_fast;

		$easing: cubic-bezier(0.68, -0.55, 0.265, 1.55);

		&.ng-leave {
			-webkit-animation: $animationOut $delay_out both $easing;
			-moz-animation: $animationOut $delay_out both $easing;
			animation: $animationOut $delay_out both $easing;
		}

		&.ng-enter {
			-webkit-animation: $animationIn $delay_in both $easing;
			-moz-animation: $animationIn $delay_in both $easing;
			animation: $animationIn $delay_in both $easing;
		}

		&.ng-leave-stagger, &.ng-enter-stagger {
			transition-delay: ($delay_xfast / 5);
			animation-delay: ($delay_xfast / 5);
		}
	}
}