
.intel-container {
	cursor: -webkit-grab;
	cursor: -moz-grab;

	@include breakpoint('medium') { overflow-x: hidden; }

	@include factor-property(margin-top, 5);
	@include factor-property(margin-bottom, 20);

	min-height: 500px;

	position: relative;

	h1, h2, h3 {
		padding: 0;
		margin: 0;
		text-align: center;
	}

	$delay_xfast: .25s;
	$delay_fast: .5s;
	$delay_slow: 1s;
	$delay_xslow: 1.5s;

	$delay_in: $delay_fast;
	$delay_out: $delay_xfast;

	$easing: cubic-bezier(0.18, -0.50, 0.265, 0.95);

	&.anim-left {
		.intel-list .ng-intel-animation {
			$animationIn: fadeInRight;
			$animationOut: fadeOutLeft;

			&.ng-leave {
				-webkit-animation: $animationOut $delay_out both $easing; -moz-animation: $animationOut $delay_out both $easing;
				animation: $animationOut $delay_out both $easing;
			}

			&.ng-enter {
				-webkit-animation: $animationIn $delay_in both $easing;	-moz-animation: $animationIn $delay_in both $easing;
				animation: $animationIn $delay_in both $easing;
			}
		}
	}

	&.anim-right {
		.intel-list .ng-intel-animation {
			$animationIn: fadeInLeft;
			$animationOut: fadeOutRight;

			&.ng-leave {
				-webkit-animation: $animationOut $delay_out both $easing; -moz-animation: $animationOut $delay_out both $easing;
				animation: $animationOut $delay_out both $easing;
			}

			&.ng-enter {
				-webkit-animation: $animationIn $delay_in both $easing;	-moz-animation: $animationIn $delay_in both $easing;
				animation: $animationIn $delay_in both $easing;
			}
		}
	}

	.checkbox-form {
		margin: factor(1) factor(0.5);
		margin-right: factor(2);
		display: inline-grid;

		.box {
			position: relative;
			top: 1px;
			padding: 10px !important;
		}
		.label-text {
			left: -10px;
			background-color: #ddd;
			position: relative;
			@include font-size(factor(2));
			display: inline-block;
			padding: factor(1) factor(1.5);
			@include font-size(factor(3));
			font-family: $main_font;
		}

		.hint {
			color: #333;
		}

		@include breakpoint("medium") { top: 22px; margin: 0 factor(0.5); }
		@include breakpoint("small") {
			top: 0px;
			display: block;
			@include font-size(factor(2));
			left: -4px;
		}
	}

	.filter-containers {
		cursor: default;
		display: block;
		@include transition(height .25s);
		@include factor-property(margin-bottom, 4);
		height: 50px;

		.search {
			@include factor-property(margin-left, 1);
			@include breakpoint("small") {
				@include factor-property(margin-top, 1);
				@include factor-property(margin-left, 0);
			}
		}

		&.long {
			height: 100px; @include factor-property(margin-bottom, 12);
			@include breakpoint("medium") { height: 100px; }
			@include breakpoint("small") { height: 300px; }
		}

		a.section-button {
			@include breakpoint("small") {
				@include factor-property(margin-bottom, 1);
			}
		}

		.intel-filters {
			display: block;
			@include factor-property(margin-top, 3);

			a, .dropdown, .text-filters, .form-group, .editable-field { display: inline-block; }

			.dropdown-section {
				display: inline-block;
				.dropdown {
					position: relative;
					top: -3px;
					.btn span {@include font-size(factor(2));}
					.btn { padding: factor(1) factor(2); }

					@include breakpoint("small") {
						@include factor-property(margin-bottom, 2);
					}
				}
			}

			.editable-field {
				@include factor-property(margin-left, 1);
				@include factor-property(margin-right, 1);

			}

			.form-group {
				@include breakpoint("medium") {
					@include factor-property(margin-bottom, 5);
				}
				@include breakpoint("small") {
					@include factor-property(margin-bottom, 6);
				}
				height: 14px;
				.input-group {
					input { height: 46px; }
				}
			}
			.order {
				$muted_color: #ddd;

				position: relative;
				top: -3px;
				padding: factor(1.7) factor(2.5);
				background-color: $muted_color;
				color: #111;
				box-shadow: 0px 2px 0px #ccc;

				i { @include font-size(factor(2));}

				@include hafStates((
					(background-color, (darken($muted_color, 10%)), (darken($muted_color, 10%)), (darken($muted_color, 10%))),
					(color, (#111, #111, #111)),
					(box-shadow, (0px 2px 0px 0px #ccc, 0px 0px 0px 0px #ccc, 0px 0px -2px 0px #ccc))
				));
			}
		}
	}

	#intel-col {
		@include factor-property(margin-bottom, 0);
	}

	.no-results {
		text-align: center;
		position: relative;
		top: 70px;
		@include font-size(factor(5));

		@include breakpoint("small") {
			left: 25%;
		}
	}

	.intel-list {
		@include breakpoint('medium') { @include factor-property(margin-top, 5); }

		.single-intel-container {
			* {i{cursor:inherit;}}

			@include transition(top, .25s);
			position: relative;
			top: 0px;
			&:hover {
				top: -25px;
			}

			.single-intel-width {
				@include breakpoint("tiny") {
					padding-left: 0px;
					padding-right: 20px;
				}
			}

			.box {
				@include factor-property(padding-bottom, 10);
				.intel-top {
					*{cursor: pointer;}
					.hexagon-container {
						width: 220px;
						margin-left: auto;
						margin-right: auto;
						height: 290px;
					}
					@include breakpoint('medium') {
						@include factor-property(margin-bottom, 5);
						@include factor-property(padding-bottom, 5);

						border-bottom: 1px solid #ddd;
					}
				}
				@include breakpoint('medium') {	@include factor-property(margin-bottom, 2); }
			}

			.main-icon {
				@include factor-property(padding, 6);
				text-align: center;
				color: $main_background_color;
				background-color: $main_text_color;

				@include font-size($icon_size_huge);
			}

			.type {
				text-align: center;
			}

			.title {
				word-break: break-word;
				cursor: default;

				text-align: center;
				color: $main_background_color;
				background-color: $main_text_color;

				@include factor-property(margin-top, 4);
				@include factor-property(margin-bottom, 2);
				padding: 10px 10px;

				// @include factor-property(max-height, 9);
				// overflow-y: hidden;
			}

			.date {
				color: $main_background_color;
				background-color: $main_text_color;
				padding: 2px 15px;
				@include factor-property(margin-bottom, 2);

				text-align: center;

				.text {
					display: inline;
					@include font-size(factor(3));
				}

				i {
					@include font-size($icon_size_tiny);
					@include factor-property(margin-right, 1);
				}
			}

			.poster {
				@include factor-property(margin-bottom, 2);

				@include breakpoint('medium') {
					@include font-size(factor(2.5));
				}

				a {
					display: inline-block;
					margin-left: 2px;
					padding: 3px 5px;
					color: $main_background_color;
					background-color: $main_text_color;
				}
			}

			.body {
				@include factor-property(margin-bottom, 4);
				max-height: 150px;
				overflow-y: hidden;
				word-break: break-word;

				p {
					width: 94%;
				}

				@include breakpoint('medium') {
					@include font-size(factor(2.5));
				}
			}

			.bottom {
				a {
					font-family: $main_font;
					@include font-size(factor(2.5));
				}

				.comments {
					i {
						margin-right: 5px;
					}
					.btn {
						padding: factor(0.85) factor(1);
						background-color: $main_color_dark;
					}
				}
			}

			.extra-options {
				@include factor-property(padding-top, 6);
				hr { border-color: #ccc; }
			}
		}
	}

	.nav-arrows {
		$arrows_font_size: 100px;
		$arrows_side_distance: -70px;
		$arrows_top_distance: 220px;

		@include font-size($arrows_font_size);

		color: $main_text_color;

		.arrow {
			i { cursor: pointer; }
			position: absolute;

			&:hover {
				color: $main_color_dark;
				@include prefix(text-shadow, 0px 0px 10px #ddd);
			}

			&.arrow-right {
				position: absolute;
				cursor: pointer;

				top: $arrows_top_distance;
				right: $arrows_side_distance;
			}

			&.arrow-left {
				position: absolute;
				cursor: pointer;

				top: $arrows_top_distance;
				left: $arrows_side_distance;
			}

			&.disabled {
				* { cursor: disabled; }

				color: $main_color_dark !important;

				@include opacity(0.5);
				@include prefix(text-shadow, none);
			}
		}

	}

	.intel-tooltip {
		margin-top: 75px !important;
		background-color: $main_color_dark;
		.arrow::after { border-top-color: $main_color_dark !important; }
	}

	.hexagon {
		@include prefix(filter, drop-shadow(0px 0px 5px rgba(0,0,0,.5)));
		height: 320px;
		width: 220px;

		.in2 {
			background-color: white;

			i {
				position: absolute;
				top: 20%;
				left: 22%;
				@include font-size(factor(20));
				color: #111;
				z-index: 9999;

				&.ion-clipboard { left: 30%; }
			}

			&.has-picture {
				background-color: #ddd;
				i {
					top: 50% !important;
					left: 41% !important;
					color: white;
					text-shadow: 0px 0px 10px #000;
					font-size: factor(10) !important;
				}

				img {
					width: 254px;
					height: auto;
					left: -15px;
					top: 33px;
					position: relative;
				}
			}
		}
	}

	.ng-intel-animation {
		$delay_xfast: .25s;
		$delay_fast: .5s;
		$delay_slow: 1s;
		$delay_xslow: 1.5s;

		$delay_in: $delay_fast;
		$delay_out: $delay_xfast;

		$easing: cubic-bezier(0.18, -0.50, 0.265, 0.95);

		&.ng-move,
		&.ng-enter,
		&.ng-leave,
		&.ng-move.ng-move-active,
		&.ng-enter.ng-enter-active,
		&.ng-leave.ng-leave-active {
			position: relative;
			width: 100%;
		}

		&.ng-enter-stagger {
			transition-delay: ($delay_xfast / 5);
			animation-delay: ($delay_xfast / 5);
		}
	}
}

.pagination > li:last-child > a { border-radius: 0px; }

#intel-pagination {
	@include transition(margin-top, .25s);
	margin-top: 0px;
	&.empty { display: none; }
	&.fixed {
		position: fixed;
		width: 360px;

		@include breakpoint('medium') { width: 500px; }
		@include breakpoint('small') { width: 360px; }
		@include breakpoint('tiny') { width: 290px; }

		bottom: -10px;
		left: 55%;

		@include prefix(transform, translate(-50%, 0px));

		li a {
			box-shadow: 0px 0px 7px #333;
		}
	}
}