.maps-list {
	display: inline-block;

	margin: factor(5) 0;
	margin-left: 50px;

	@include breakpoint("small") { margin-left: 0px; }

	&.single {
		margin: 0;
		@include factor-property(margin-top, 3);
		margin-left: 0px;
		width: 95%;

		.map-object {
			@include prefix(transform, rotate(0deg));
			top: -20px;
			margin: 0 20px;

			@include breakpoint("small") { left: -10px; }
		}
	}

	.map-object {
		@include transition(transform .1s cubic-bezier(0.455, 0.03, 0.515, 0.955), margin .25s, top .25s);
		@include prefix(transform, rotate(3deg));
		-webkit-backface-visibility: hidden;

		position: relative;
		display: inline-block;

		top: 0px;
		margin: 0 -10px;
		padding: 3px 5px;
		box-shadow: 0px 0px 10px #000;

		background: url("/images/stripes.png") repeat 100%;

		&:hover {
			top: -20px;
			margin: 0 20px;
			@include prefix(transform, rotate(0deg));
		}

		.inner-card {
			padding: 10px;
			display: inline-block;
			position: relative;
			top: 3px;
			background: $bg_white_lightest repeat 100%;
			width: 100%;

			.top-section {

				.side-left {
					float: left;

					.picture {
						$picture-size_w: 100px;
						$picture-size_h: 150px;

						width: $picture-size_w;

						@include prefix(transform, rotate(-1deg));
						-webkit-backface-visibility: hidden;

						box-shadow: 1px 0px 2px #555;

						@include size($picture-size_w, $picture-size_h);
						.ac-bg-img__full-size, .ac-bg-img__placeholder {
							background-size: auto 100%;
							// box-shadow: 0px 0px 10px #444 inset, 0px 0px 5px #111 inset;
						}
					}
				}
				.side-right {
					float: right;
					width: 170px;
					@include factor-property(padding, 1);
					@include factor-property(padding-left, 2);

					text-align: center;

					.title {
						color: $main_color;
						font-family: $main_font;
						@include font-size(factor(4));
						letter-spacing: -2px;
						text-transform: uppercase;
						font-weight: 800;
					}

					.description {
						text-align: left;
						display: inline-block;
						width: 95%;
						height: 100px;
						background: url("/images/underline.png") repeat 1px;
						@include factor-property(margin-top, 2);
						color: #333;
						@include font-size(factor(1.7));
						line-height: 18px;
					}
				}
			}

			.bottom-section {
				float: left;

				.info {
					position: relative;
					top: factor(1);
					text-align: center;
					color: #333;

					li {
						@include factor-property(margin-right, 1);
						display: inline-block;

						.text {
							@include font-size(factor(1.5));
							&.medium {
								font-weight: bold;
								@include font-size(factor(2.5));
								letter-spacing: -1px;
							}
						}
					}
				}
			}
		}

		@include breakpoint("medium") {
			@include prefix(transform, rotate(0deg));

			@include factor-property(margin, 1);

			.inner-card .bottom-section {
				width: 100%;
				@include factor-property(padding-bottom, 1);

				.info li .text {
					@include font-size(factor(1.5));
					&.medium {
						@include font-size(factor(2));
					}
				}
			}

			&:hover {
				top: 0px;
				@include factor-property(margin, 1);
				@include prefix(transform, rotate(0deg));
			}
		}

		@include breakpoint("small") {
			width: 100%;
			margin: factor(1) 0;
			padding-bottom: 10px;

			&:hover { margin: factor(1) 0; }

			.inner-card .top-section  {
				@include factor-property(margin-top, 3);

				.side-left {
					float: none;

					width: 230px;
					margin-left: auto;
					margin-right: auto;

					.picture {
						$picture-size_w: 230px;
						$picture-size_h: 150px;

						width: $picture-size_w;

						@include size($picture-size_w, $picture-size_h);
						.ac-bg-img__full-size, .ac-bg-img__placeholder {
							background-size: 100% auto;
							box-shadow: 0px 0px 20px #444 inset, 0px 0px 10px #111 inset;
						}
					}
				}

				.side-right {
					@include factor-property(margin-top, 1);
					float: none;
					width: 100%;
					display: inline-block;
					padding-left: 0px;

					.title { @include font-size(factor(5)); }

					.description {
						height: 80px;
						@include font-size(factor(2.4));
						line-height: 19px;
						background: url("/images/underline.png") repeat 100% -57px !important;
					}
				}
			}
		}
	}
}