
.radial-menu {
	z-index: 50;

	height: 300px;

	left: 0; right: 0; top: 0; bottom: 0;
	position: absolute;

	a { color: #ddd; }

	li {
		@include transition(all .35s cubic-bezier(0.68, -0.55, 0.265, 1.55));
		@include font-size(factor(2.5));

		* {cursor: pointer};
		cursor: pointer;

		left: 0; right: 0; top: 0; bottom: 0;
		position: absolute;

		opacity: 0;

		span {
			box-shadow: 0px 0px 10px #111, 0px 0px 5px #000;
			@include factor-property(padding, 1);
			background-color: $main_color;
		}

		.icon {
			box-shadow: 0px 0px 10px #111, 0px 0px 5px #000;
			@include factor-property(padding, 1);
			background-color: #eee;
			color: #111;
		}

		&:hover {
			span {
				background-color: #eee;
				color: $main_color;
			}

			.icon {
				background-color: #eee;
				color: #111;
			}
		}

		&.disabled {
			* {cursor: default};
			cursor: default;

			.icon {
				color: #888;
			}
			span {
				color: #888;
				background-color: #ddd;
			}
		}
	}
}

.close-radial {
	z-index: 49;
	cursor: pointer;

	@include transition(opacity 0.25s, background-color 0.25s);

	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;

	opacity: 0;

	border-radius: 100%;
	background-color: $main_color;
	box-shadow: 0px 0px 5px #111;

	@include size(factor(9));

	i {
		cursor: pointer;
		@include font-size(factor(4));
		text-align: center;
		position: relative;
		top: 14px;
		color: #fff;
	}

	&:hover {
		background-color: $main_color_dark;
	}
}