<div class="cheers-button" ng-class="CheersController.doButtonSize">
	<a
	class="section-button animated" role="button" ng-click="CheersController.doCheer()" ng-class="{'active': (CheersController.isCheered), {{CheersController.doButtonSize}}: true}" ng-if="!(CheersController.isLoading)" ng-cloak>
		<ul>
			<li class="cheers-status"><i class="icon" ng-class="{'ion-thumbsup': (CheersController.isCheered), 'ion-minus': !(CheersController.isCheered)}"></i></li>
			<li class="cheers-text" ng-if="(CheersController.showText)" ng-cloak>Cheers!</li>
			<li class="cheers-amount"><div ng-bind="CheersController.cheersAmount"></div></li>
		</ul>
	</a>
</div>