<div class="cheers-button">
	<a
	class="section-button animated" role="button" ng-click="doCheer()" ng-class="{'active': (isCheered), {{doButtonSize}}: true}" ng-if="!(isLoading)"
	ng-cloak>
		<ul>
			<li class="cheers-status"><i class="icon" ng-class="{ 'ion-thumbsup': (isCheered), 'ion-minus': !(isCheered) }"></i></li>
			<li class="cheers-text" ng-if="(showText === true)" ng-cloak>Cheers!</li>
			<li class="cheers-amount"><div ng-bind="cheersAmount"></div></li>
		</ul>
	</a>
</div>