
<div class="comments-container">
	<div ng-if="(CommentsController.selfInfo.playerPrivilege <= 99)" ng-cloak>
		<div class="col-xs-12 col-sm-12">
			<div class="row">
				<div class="post-comment" ng-class="{'long': (displayPostComment > 0)}" ng-if="::(allowCommentsParam)" ng-cloak>
					<div class="post-comment-animation" ng-if="(displayPostComment === 2)">
						<div class="circle unit-avatar">
							<div class="small" ac-background-image background-image="images/avatars/players/thumb_{{::CommentsController.selfInfo.hashField}}.jpg"></div>
						</div>
						<form class="comment-form">
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control" id="commentInputTitle" ng-model="CommentsController.commentTitle" placeholder="Comment title (optional).">
								</div>
								<div class="characters-remaining">{{(maxTitleCharacters - CommentsController.commentTitle.length)}} characters remaining.</div>
								<div class="input-group">
									<textarea rows=3 type="text" class="form-control" id="commentInputBody" ng-model="CommentsController.commentBody" placeholder="Type your comment here. (cannot be empty)"></textarea>
								</div>
								<div class="characters-remaining">{{(maxMessageCharacters - CommentsController.commentBody.length) }} characters remaining.</div>
							</div>
							<div class="form-group message"></div>
							<div class="form-error">
								<div class="error-message flip-animation2" ng-if="(currentPostError.length > 0)">
									<i class="icon ion-alert-circled"></i> {{ currentPostError }}
								</div>
							</div>
						</form>
						<a ng-click="togglePostComment()" class="btn btn-muted">Close</a>
						<a ng-click="postComment()" class="btn default">Submit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="(!showCommentsParam)" ng-cloak>
		<div class="blocked-comments">
			<i class="icon ion-eye-disabled"></i>
			<div class="text">Comments unavailable.</div>
		</div>
	</div>
	<div ng-if="(showCommentsParam)" ng-cloak>
		<div class="col-xs-12 col-sm-12">
			<div class="row">
				<div class="comments-header">

					<a
						class="post-comment-button section-button small success post-comment-animation"
						role="button"
						ng-click="togglePostComment()"
						ng-if="::(allowCommentsParam)"
						ng-cloak
					>
						<ul>
							<li><i class="icon ion-chatbubble-working"></i></li>
							<li ng-cloak>New</li>
						</ul>
					</a>

					<div class="comments-amount"><i class="icon ion-chatbubbles"></i><strong><span ng-bind="(commentsCount || 0)"></span></strong></div>

					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
							Sort by	<i class="icon" ng-class="currentIcon"></i>
						</button>
						<ul class="dropdown-menu">
							<li ng-click="changeSort(item)" ng-repeat="item in ::(sortingMethods) track by $index">
								<a href="#" ng-click="scope = item.value">
									<i class="icon" ng-class="::item.icon"></i>
									<span ng-bind="::item.name"></span>
								</a>
							</li>
						</ul>
					</div>
					<a class="comment-order btn btn-default" ng-click="changeOrder()"><i class="icon" ng-class="orderName"></i></a>

					<div class="comments-pagination">
						<ul
							uib-pagination

							class="text-center tiny"

							ng-change="refreshComments()"

							first-text="&laquo;"
							last-text="&raquo;"
							next-text="&#9656;"
							previous-text="&#9666;"

							force-ellipses="true"
							rotate="true"

							total-items="commentsCount"
							items-per-page="perPage"
							ng-model="CommentsController.page"
							max-size="1"

							boundary-links="false"
							boundary-link-numbers="true"
						></ul>
					</div>
				</div>
				<div class="comments">
					<div class="parent-comment comment-animation" ng-class="finalContainerSize" ng-repeat="comment in commentsList track by comment.hashField">
						<div class="comment">
							<div class="comment-header">
								<a ng-href="operator/{{comment.commenterHash}}">
									<div class="unit-avatar circle">
										<div class="tiny" ac-background-image background-image="images/avatars/players/thumb_{{::comment.commenterHash}}.jpg">
										</div>
									</div>
								<span class="alias" ng-bind="::comment.commenterAlias"></span></a>

								<div
									class="comment-time"
									popover-trigger="'mouseenter'"
									popover-class="tooltip"
									popover-placement="top"
									popover-popup-delay="500"
									uib-popover="{{::(comment.createdAt | date)}}"
								>
									<i class="icon ion-ios-clock"></i>
									<time-ago from-time='{{::comment.createdAt}}'></time-ago>
								</div>
							</div>

							<div class="comment-body">
								<div class="triangle-isosceles"></div>
								<div class="comment-title" ng-if="::comment.title" ng-cloak>
									<span class="title" ng-bind="::comment.title"></span>
								</div>
								<div class="body" ng-bind="::comment.body"></div>
							</div>

							<div class="comment-bottom">
								<cheers-directive
									initial-cheers="{{ comment.totalCheers }}"
									initial-cheered="{{ comment.isCheered }}"
									cheer-target="{{ comment.hashField }}"
									cheer-type="comment"
									button-size="tiny"
									show-text="false"
									class="comment-cheers"
								></cheers-directive>
								<a
									class="comment-delete section-button tiny animated"
									role="button"
									ng-click="deleteComment(comment.hashField)"
									ng-if="::(checkPermission(subjectHash, comment.commenterHash))"
									ng-cloak
								>
									<ul>
										<li><i class="icon ion-trash-a"></i></li>
										<li ng-cloak>Delete</li>
									</ul>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>