
<div class="intel-container noselect" ng-swipe-right="movePage('p')" ng-swipe-left="movePage('n')">
	<div class="row">

		<div class="nav-arrows anm-all hidden-sm hidden-xs">
			<div class="arrow arrow-right" ng-click="movePage('n')" ng-class="{'disabled': isMinPage}">
				<i class="ion ion-chevron-right"></i>
			</div>
			<div class="arrow arrow-left" ng-click="movePage('p')" ng-class="{'disabled': isMaxPage}">
				<i class="ion ion-chevron-left"></i>
			</div>
		</div>

		<ul class="intel-list">
			<li ng-repeat="intel in currentData" class="single-intel-container ng-intel-animation">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="box">

						<div
							class="hexagon"
							uib-popover="{{intel.intelDetails.type}}"
							popover-popup-delay="250"
							popover-trigger="'mouseenter'"
							popover-class="tooltip intel-tooltip"
						>
							<div class="in1"><div class="in2">
								<i ng-class="intel.intelDetails.icon"></i>
							</div></div>
						</div>

						<div class="title">
							<h3>
								<span ng-bind="::intel.titleField"
									popover-popup-delay="650"
									popover-trigger="'mouseenter'"
									popover-class="tooltip"
									uib-popover="{{intel.titleField}}"
								></span>
							</h3>
						</div>

						<div class="date">
							<i class="icon ion-ios-calendar-outline"></i>
							<div class="text" ng-bind="::intel.createdAt | date"></div>
						</div>

						<div class="poster">
							Posted by
							<a ng-href="operator/{{::intel.posterHash}}">
								<i class="icon" ng-class="{
									'ion-person': (intel.displayAs === 'player'),
									'ion-ios-people': (intel.displayAs === 'pmc'),
									'ion-help-circled': (intel.displayAs === 'anonymous')
								}"></i>
								<strong><span ng-bind="::intel.posterDetails.alias"></span></strong>
							</a>
						</div>

						<div class="body" ng-scrollbar rebuild-on-resize rebuild-on="rebuild">
							<p><span ng-bind="::intel.bodyField"></span></p>
						</div>

						<div class="bottom">
							<cheers-directive
								initial-cheers="{{intel.cheersDetails.amount}}"
								initial-cheered="{{ intel.cheersDetails.cheered }}"
								cheer-target="{{ intel.hashField }}"
								cheer-type="intel"
								class="pull-left"
							></cheers-directive>

							<div class="comments pull-right">
								<a class="btn btn-default" role="button"
									popover-popup-delay="1050"
									popover-trigger="'mouseenter'"
									popover-class="tooltip"
									uib-popover="Comments"
								>
									<i class="icon ion-chatbox-working"></i> <span ng-bind="::intel.totalComments"></span>
								</a>
							</div>
						</div>

					</div>
				</div>

				<div ng-if="($index % 2 == 1)" class="clearfix visible-sm-block"></div>

			</li>

		</ul>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center anm-all">
			<nav aria-label="Page navigation">
				<ul
					uib-pagination

					id="intel-pagination"
					class="pagination"

					ng-change="movePage(-1)"

					first-text="&laquo;"
					last-text="&raquo;"
					next-text="&#9656;"
					previous-text="&#9666;"

					force-ellipses="true"
					rotate="true"

					total-items="totalItems"
					items-per-page="perPage"
					ng-model="currentPage"
					max-size="1"

					boundary-links="false"
					boundary-link-numbers="true"
				></ul>
			</nav>
		</div>
	</div>
</div>