
<div id="units-container">

	<div class="ng-view-animation-units" ng-repeat="tier in organizedTiers" ng-init="tierIndex = $index" ng-if="(CtrlUnits.displayMode === 'ranked')" ng-cloak>
		<div class="tiers-list" ng-if="organizedTiers[tierIndex].length > 1">
			<ul class="units-list">
				<li class="unit ng-view-animation-units" ng-repeat="unit in (organizedTiers[tierIndex])" ng-init="unitIndex = $index">
					<div ng-if="(unitIndex > 0)">

						<div class="circle unit-avatar">
							<div class="medium" ac-background-image background-image="images/avatars/players/main_{{unit.hashField}}.jpg">
								<div class="avatar-radial-container">
									<radial-menu
										options="radialOptions"

										list-class=""
										item-class=""
										arguments="{tier: tierIndex, alias: unit.aliasField, hash: unit.hashField, offset: {top: 0, left: 0}}"
									></radial-menu>
								</div>
							</div>
						</div>

						<div class="info">
							<div class="meta small"><span ng-bind="unit.aliasField"></span></div>
							<span ng-bind="pmcInfo.tier_names[organizedTiers[tierIndex][0]]"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div ng-if="(CtrlUnits.displayMode === 'friends')" ng-cloak>
		<ul class="units-list">
			<div class="ng-view-animation-units" ng-repeat="unit in unitsList" ng-if="(unitsList.length > 0)" ng-cloak>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<li class="unit">
						<div class="circle unit-avatar">
							<div class="medium" ac-background-image background-image="images/avatars/players/main_{{::unit.friendHash}}.jpg">
								<div class="avatar-radial-container">
									<radial-menu
										options="radialOptions"
										list-class=""
										item-class=""
										arguments="{tier: 0, alias: unit.friendAlias, hash: unit.friendHash, offset: {top: 0, left: 0}}"
									></radial-menu>
								</div>
							</div>
						</div>

						<div class="info">
							<div class="meta small"><span ng-bind="::unit.friendAlias"></span></div>
							<span class="since">Added <time-ago from-time='{{::unit.friendSince}}'></time-ago></span>
						</div>
					</li>
				</div>
			</div>
		</ul>
		<div ng-if="(unitsList.length === 0)" ng-cloak>
			<h2 class="text-center">You have no friends.</h2>
		</div>
	</div>

	<div ng-if="(CtrlUnits.displayMode === 'pmc-friends')" ng-cloak>
		<ul class="units-list">
			<div class="ng-view-animation-units" ng-repeat="unit in unitsList" ng-if="(unitsList.length > 0)" ng-cloak>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<li class="unit">
						<div class="circle unit-avatar">
							<div class="medium" ac-background-image background-image="images/avatars/pmc/main_{{::unit.friendHash}}.jpg">
								<div class="avatar-radial-container">
									<radial-menu
										options="radialOptions"
										list-class=""
										item-class=""
										arguments="{tier: 0, alias: unit.friendAlias, hash: unit.friendHash, offset: {top: 0, left: 2}}"
									></radial-menu>
								</div>
							</div>
						</div>

						<div class="info">
							<div class="meta small"><span ng-bind="::unit.friendAlias"></span></div>
							<span class="since">Added <time-ago from-time='{{::unit.friendSince}}'></time-ago></span>
						</div>
					</li>
				</div>
			</div>
		</ul>
		<div ng-if="(unitsList.length === 0)" ng-cloak>
			<h2 class="text-center">Your Outfit has no alliances.</h2>
		</div>
	</div>

</div>