
<div class="modal-window">
	<div class="modal-header">
		<i class="icon ion-locked"></i>
		<h2 class="modal-title">Confirm Password</h2>

		<div class="close-container" ng-click="closeModal()">
			<i class="icon ion-close"></i>
		</div>
	</div>

	<div class="modal-body">
		<div class="modal-body" id="modal-body">
			You are required to confirm your password in order to procceed.

			<form class="send-message" ng-submit="closeModal(true)">
				<div class="form-group title">
					<div class="input-group">
						<input type="password" class="form-control" id="passwordInput" ng-model="ModalController.modelPassword">
					</div>
				</div>
			</form>
		</div>
	</div>

    <div class="modal-footer">
		<a class="section-button medium muted" role="button" ng-click="closeModal(false)">
			<ul>
				<li><i class="icon ion-minus"></i></li>
				<li>Cancel</li>
			</ul>
		</a>
		<a class="section-button medium" role="button" ng-click="closeModal(true)">
			<ul>
				<li><i class="icon ion-arrow-right-c"></i></li>
				<li>Confirm</li>
			</ul>
		</a>
	</div>
</div>