
<div class="modal-window">
	<div class="modal-header">
		<i class="icon ion-android-warning"></i>
		<h2 class="modal-title">Report {{::ModalController.contextData.name}}</h2>
	</div>

	<div class="modal-body">
		<div class="modal-body" id="modal-body">
			<div class="message-receiver">
				Reporting:
				<div class="circle unit-avatar">
					<div class="small"
					ac-background-image background-image="{{::ModalController.contextData.image}}thumb_{{::ModalController.options.hash}}.jpg">
					</div>
				</div>
				<span class="receiver" ng-bind="ModalController.options.alias"></span>
			</div>

			<form class="send-message">

				<div class="report-reason">
					Reason:
					<div class="report-button dropdown">
						<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
							<span ng-bind="ModalController.reportRules[ModalController.currentReportIndex].name"></span>
						</button>
							<ul class="dropdown-menu">
								<li ng-click="changeSort(item)" ng-repeat="item in ::ModalController.reportRules">
									<a href="#" ng-click="(ModalController.currentReportIndex = $index)">
										<span ng-bind="::item.name"></span>
									</a>
								</li>
							</ul>
					</div>
				</div>
				<blockquote class="report-reason" ng-bind="ModalController.reportRules[ModalController.currentReportIndex].description">
				</blockquote>

				<div class="form-group message">
					<div class="input-group">
						<textarea type="text" class="form-control" id="messageInputBody" ng-model="ModalController.modalMessage" placeholder="Detail your report, if necessary. (optional)"></textarea>
					</div>
					<div class="characters-remaining">{{ (ModalController.maxMessageCharacters - ModalController.modalMessage.length) }} characters remaining.</div>
				</div>
			</form>
		</div>
	</div>

    <div class="modal-footer">
		<a class="section-button medium muted" role="button" ng-click="closeModal(false)">
			<ul>
				<li><i class="icon ion-arrow-left-c"></i></li>
				<li>Cancel</li>
			</ul>
		</a>
		<a class="section-button medium" role="button" ng-click="closeModal(true)">
			<ul>
				<li><i class="icon ion-alert"></i></li>
				<li>Report</li>
			</ul>
		</a>
	</div>
</div>