
/*
	========================================
					CONSTANTS
	========================================
*/

$global_factor: 7px;

/*
	========================================
					HEIGHTS
	========================================
*/

$column_logo_belligerence: 365px;

/*
	========================================
					ICONS
	========================================
*/

$icon_size_tiny: factor(3);
$icon_size_small: factor(4);
$icon_size_medium: factor(6);
$icon_size_large: factor(8);
$icon_size_huge: factor(12);
