<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="AppMainCtrl as mainapp" ng-cloak>
	<head>
		<% include ../components/head %>
		<% include ../components/singletons/styles %>
	</head>
	<body>
		<div id="page-top" style="padding-top: 100px;">

			<ui-view autoscroll="false">
				<% include ../components/no-view %>
			</ui-view>

			<nav-directive></nav-directive>

			<alerts-directive></alerts-directive>

			<% include ../components/singletons/dev %>
			<% include ../components/singletons/js %>
		</div>
	</body>
</html>