<!DOCTYPE html>
<html>
	<head>
		<title>Belligerence</title>
	</head>

	<body style="background-color: #333">
		<div style="text-align: center; margin-top: 15em" id="main">
			<img src="images/belligerence-logo-small.png" />
			<h1 style="font-size: 72px; letter-spacing: 3px; color: #000; margin-bottom: -10px; text-decoration: underline #ff1122">BELLIGERENCE</h1>
			<h1 style="font-family: 'Calibri'; color: #ddd;">War For Profit.</h1>
		</div>
	</body>
	<script src="js/vendor.f9823d3b108b5bae7458.bundle.js"></script>
	<script src="js/scripts.min.js"></script>
</html>