<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="AppMainCtrl as mainapp" ng-cloak>
	<head>
		<% include ../components/head %>
		<% include ../components/templates %>
		<% include ../components/singletons/favicons %>
		<% include ../components/singletons/styles %>
	</head>
	<body>
		<div id="page-top">

			<header ui-view="header">
				<nav-directive></nav-directive>
				<alerts-directive></alerts-directive>
			</header>

			<ui-view class="main-view-render" autoscroll="false">
				<% include ../components/no-view %>
			</ui-view>

			<cookies-directive id="cookies-alert-bar"></cookies-directive>
			<funds-directive></funds-directive>

			<% include ../components/singletons/dev %>
			<% include ../components/singletons/js %>
		</div>
	</body>
</html>