<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="AppMainCtrl as mainapp" ng-cloak>
	<head>
		<% include ../components/head %>
		<% include ../components/singletons/styles %>
	</head>
	<body>
		<div id="placeholderNav" style="margin-bottom: 200px"></div>
		<ui-view autoscroll="true"></ui-view>
		<% include ../components/singletons/dev %>
		<% include ../components/singletons/js %>
	</body>
</html>