<div class="row">
	<hr />
</div>
<div class="row expand-height-animation" ng-hide="(CtrlAdmin.contentSubController.pageState === 'null') || (CtrlAdmin.contentSubController.pageState === 'main')" ng-cloak>
	<div id="content-return-button">
		<a ng-if="(CtrlAdmin.contentSubController.contentState === 'all')" ng-click="CtrlAdmin.clearEdit(); CtrlAdmin.contentSubController.changeContentState('main')" class="section-button small animated" role="button">
			<ul>
				<li><i class="icon ion-arrow-return-left"></i></li>
				<li>Content Menu</li>
			</ul>
		</a>

		<a ng-if="(CtrlAdmin.contentSubController.contentState === 'single')" ng-click="CtrlAdmin.clearEdit(); CtrlAdmin.contentSubController.changeObjectState('all')" class="section-button small animated" role="button">
			<ul>
				<li><i class="icon ion-arrow-return-left"></i></li>
				<li>Content list</li>
			</ul>
		</a>
	</div>
</div>

<div class="fade-animation-fast" ng-if="(CtrlAdmin.contentSubController.pageState !== 'null')" ng-cloak">
	<div class="row">
		<h2 ng-bind="(CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].name_plural || 'Content')"></h2>
	</div>

	<div class="row">
		<div class="actions fade-animation-fast col-md-3 col-sm-5 col-xs-12 noselect" ng-repeat="menuItem in CtrlAdmin.contentSubController.contentList" ng-click="(CtrlAdmin.contentSubController.changeContentState(menuItem.id))" ng-if="(CtrlAdmin.contentSubController.pageState === 'main')" ng-cloak>
			<div class="row">
				<i class="icon" ng-class="::(menuItem.icon)"></i>
				<div class="title" ng-bind="::(menuItem.name_plural)"></div>
				<hr />
				<div class="description" ng-bind="::(menuItem.description)"></div>
			</div>
		</div>
		<div id="content-render" class="fade-animation-fast col-md-12" ng-if="((CtrlAdmin.contentSubController.pageState !== 'main') && (CtrlAdmin.contentSubController.pageState !== 'null'))" ng-cloak>
			<div class="row fade-animation-fast" ng-if="(CtrlAdmin.contentSubController.contentState === 'all')">

				<hr />

				<div class="filter-containers">

					<a class="section-button search warning medium intel-filter-animation" role="button" ng-click="CtrlAdmin.refreshContent()">
						<ul>
							<li><i class="icon ion-search"></i></li>
							<li>Apply</li>
						</ul>
					</a>

					<div class="filter-order">
						<div class="dropdown-section">
							<div class="dropdown">
								<button class="btn btn-muted medium dropdown-toggle" type="button" data-toggle="dropdown">
									Sort by
										<strong>
											<span ng-bind="CtrlAdmin.contentSubController.queryForm.sort[CtrlAdmin.contentSubController.queryValues.sort].filter ? CtrlAdmin.contentSubController.queryForm.sort[CtrlAdmin.contentSubController.queryValues.sort].filter(CtrlAdmin.contentSubController.queryForm.sort[CtrlAdmin.contentSubController.queryValues.sort].name) : CtrlAdmin.contentSubController.queryForm.sort[CtrlAdmin.contentSubController.queryValues.sort].name"></span>
										</strong>
								</button>
								<ul class="dropdown-menu">
									<li ng-click="CtrlAdmin.contentSubController.changeQueryDropdownValue('sort', item, item)" ng-repeat="item in (CtrlAdmin.contentSubController.queryForm.sort) track by $index">
										<a href="#" ng-click="scope = item.value">
											<span ng-bind="(item.filter ? (item.filter(item.name)) : item.name)"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>

						<a class="btn default medium" ng-click="CtrlAdmin.contentSubController.queryMethods.switchOrder()">
							<i class="icon" ng-class="(CtrlAdmin.contentSubController.queryValues.order === 'ASC') ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
							<span ng-bind="((CtrlAdmin.contentSubController.queryValues.order === 'ASC') ? 'Ascending' : 'Descending')"></span>
						</a>
					</div>

					<div class="filters intel-filter-animation">

						<div class="filter-input" ng-repeat="contentObject in ::CtrlAdmin.contentSubController.getQueryableFields() track by $index" ng-if="contentObject.queryable" ng-cloak>

							<div class="form-group" ng-if="::(contentObject.queryType === 'text')" ng-cloak>
								<div class="input-group">
									<input
										type="text"
										class="form-control"
										name="filterInputsTitle"
										ng-model="CtrlAdmin.contentSubController.queryValues[contentObject.query]"
										placeholder="{{ (contentObject.filterName ? contentObject.filterName(contentObject.name) : contentObject.name) }}"
									/>
								</div>
							</div>

							<div ng-if="::(contentObject.queryType === 'dropdownCheckbox')" ng-cloak>
								<dropdown-checkbox
									button-name="contentObject.name"
									options="contentObject.options"
									model="CtrlAdmin.contentSubController.queryValues[contentObject.query]"
								></dropdown-checkbox>
							</div>

							<div class="dropdown-section" ng-if="::(contentObject.queryType === 'dropdown')" ng-cloak>
								<div class="dropdown">

									<button class="btn btn-muted medium dropdown-toggle" type="button" data-toggle="dropdown">
										<span ng-bind="(contentObject.queryFilter ? (contentObject.queryFilter(contentObject).name || 'All') : (contentObject.options[CtrlAdmin.contentSubController.findIndexInObject(contentObject.options, 'data', CtrlAdmin.contentSubController.queryValues[contentObject.query])]).text || 'All')"></span>

									</button>
									<ul class="dropdown-menu">
										<li ng-click="CtrlAdmin.contentSubController.changeQueryDropdownValue(null, contentObject.query, null)">
											<a href="#"><span>All</span></a>
										</li>
										<li ng-click="CtrlAdmin.contentSubController.changeQueryDropdownValue(contentObject.property, contentObject.query, option.data)" ng-repeat="option in contentObject.options track by $index">
											<a href="#" ng-click="scope = option.data">
												<span ng-bind="(option.text)"></span>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="input-slider" ng-if="::(contentObject.queryType === 'range')" ng-cloak>
								<span class="slider-label noselect" ng-bind="::(contentObject.name)"></span>
								<rzslider rz-slider-model="CtrlAdmin.contentSubController.queryValues[contentObject.query].min" rz-slider-high="CtrlAdmin.contentSubController.queryValues[contentObject.query].max" rz-slider-options="contentObject.queryDetails.options"></rzslider>
							</div>

							<div class="input-slider" ng-if="::(contentObject.queryType === 'slider')" ng-cloak>
								<span class="slider-label noselect" ng-bind="::(contentObject.name)"></span>
								<rzslider rz-slider-model="CtrlAdmin.contentSubController.queryValue[contentObject.query]" rz-slider-options="contentObject.queryDetails.options"></rzslider>
							</div>

							<div class="checkbox-form edit" ng-if="::(contentObject.queryType === 'checkbox')" ng-cloak>
								<div class="form-group">
									<div class="input-group">
										<div class="extra-input noselect">
											<input
												type="checkbox" id="{{ ::(contentObject.query) }}"
												ng-model="CtrlAdmin.contentSubController.queryValues[contentObject.query]"
											>
											<label class="input-label" for="{{ ::(contentObject.query) }}">
												<div class="body check">
													<div class="box"><i class="icon ion-checkmark small"></i></div>
													<div class="label-text" ng-bind="::(contentObject.name)"></div>
												</div>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr/>
					</div>
				</div>

				<a
					ng-if="(CtrlAdmin.contentSubController.contentState === 'all')"
					ng-click="CtrlAdmin.contentSubController.createNew()"
					class="section-button success small animated"
					role="button"
				>
					<ul>
						<li><i class="icon ion-plus"></i></li>
						<li>Create new</li>
					</ul>
				</a>

				<div class="table-responsive">
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th>Picture</th>
								<th class="table-property-name" ng-repeat="contentObject in CtrlAdmin.contentSubController.getDisplayedFields() track by $index" ng-bind="::(contentObject.name)" ng-click="CtrlAdmin.contentSubController.changeSortByField(contentObject.order)"></th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr class="comment-animation" ng-repeat="contentList in CtrlAdmin.contentSubController.contentData track by $index">
								<td>
									<div class="picture" ac-background-image background-image="images/modules/{{CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].url}}/thumb_{{contentList[CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].picture_property]}}.{{CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].picture_extension}}" ng-click="CtrlAdmin.contentSubController.getSingle(contentList[CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].id_key])"></div>
								</td>
								<td ng-repeat="contentObject in CtrlAdmin.contentSubController.getDisplayedFields() track by $index" ng-click="CtrlAdmin.contentSubController.getSingle(contentList[CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].id_key])">
									<span ng-bind="::(contentObject.filter ? contentObject.filter(contentList[contentObject.property]) : ((contentObject.options) ? (contentObject.options[contentList[contentObject.property]].text) : (contentList[contentObject.property])))" ng-if="::(contentObject.type !== 'bool')"></span>
									<i class="icon" ng-class="::(contentList[contentObject.property] ? 'ion-checkmark' : 'ion-close')" ng-if="::(contentObject.type === 'bool')"></i>
								</td>
								<td>
									<a type="button" class="btn btn-warning medium" ng-click="CtrlAdmin.contentSubController.askDuplicateContent(contentList)"
									ng-if="CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].crud.duplicate" ng-cloak>
										<i class="icon ion-ios-copy"></i>
									</a>
									<a type="button" class="btn btn-success medium" ng-click="CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].crud.resupply(contentList.hashField)"
									ng-if="CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].crud.resupply" ng-cloak>
										<i class="icon ion-android-archive"></i>
									</a>
									<a type="button" class="btn btn-warning medium" ng-click="CtrlAdmin.contentSubController.askDeleteContent(contentList)"
									ng-if="CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].crud.delete" ng-cloak>
										<i class="icon ion-trash-a"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row" id="pagination-container">
					<div class="col-md-12 text-center intel-filter-animation" ng-if="CtrlAdmin.contentSubController.showPagination" ng-cloak>
						<nav aria-label="Page navigation">
							<ul
								uib-pagination

								id="intel-pagination"
								class="pagination"

								ng-change="CtrlAdmin.contentSubController.movePage('a')"

								first-text="&laquo;"
								last-text="&raquo;"
								next-text="&#9656;"
								previous-text="&#9666;"

								force-ellipses="true"
								rotate="true"

								total-items="CtrlAdmin.contentSubController.queryParams.totalItems"
								items-per-page="CtrlAdmin.contentSubController.queryParams.perPage"
								ng-model="CtrlAdmin.contentSubController.queryValues.page"
								max-size="1"

								boundary-links="false"
								boundary-link-numbers="true"
							></ul>
						</nav>
					</div>
				</div>
			</div>

			<div id="single-content-render" class="row fade-animation-fast" ng-if="(CtrlAdmin.contentSubController.contentState === 'single')" ng-init="currentContent = CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState];">

				<div id="avatar-upload-container" class="fade-animation-fast" ng-if="::(currentContent.upload_picture === 'upload')" ng-cloak>
					<div id="avatar-upload-form-container">
						<a
							class="section-button medium animated" role="button"

							ngf-select
							ngf-drop

							ng-model="CtrlAdmin.contentSubController[CtrlAdmin.contentSubController.objectCtrl].currentUploadedAvatar"

							ngf-pattern="'image/*'"
							ngf-accept="'image/*'"
							ngf-max-size="3MB"

							style="margin-right: 20px;"
						>
							<ul>
								<li><i class="icon ion-ios-camera"></i></li>
								<li>Select picture</li>
							</ul>
						</a>

						<a ng-click="CtrlAdmin.contentSubController.uploadModulePicture()" class="section-button success medium animated" role="button" ng-if="(CtrlAdmin.contentSubController.currentObjectHash.length > 0)" ng-cloak>
							<ul>
								<li><i class="icon ion-ios-camera"></i></li>
								<li>Upload</li>
							</ul>
						</a>

						<div id="avatar-upload-form">
							<form name="avatarPictureForm" enctype="multipart/form-data">
								<div
									ngf-drop

									ng-model="CtrlAdmin.contentSubController[CtrlAdmin.contentSubController.objectCtrl].currentUploadedAvatar"

									ngf-pattern="'image/*'"
									ngf-accept="'image/*'"
									ngf-max-size="3MB"

									class="crop-area"
								>

									<div class="upload-text">
										<i class="icon medium ion-arrow-down-a"></i><br>
										Or just drag and drop/paste your picture here.
									</div>

									<div ng-if="::(currentContent.hide_crop)">
										<img style="width:100%" class="current-upload pulse-drop-shadow-black-slow-soft" ngf-thumbnail="CtrlAdmin.contentSubController[CtrlAdmin.contentSubController.objectCtrl].currentUploadedAvatar">
									</div>

									<img-crop
										ng-if="::(!(currentContent.hide_crop))"
										image="CtrlAdmin.contentSubController[CtrlAdmin.contentSubController.objectCtrl].currentUploadedAvatar | ngfDataUrl"
										area-type="square"
										result-image="CtrlAdmin.contentSubController[CtrlAdmin.contentSubController.objectCtrl].croppedDataUrl"
										result-image-size="350"
										area-min-size="50"
									>
									</img-crop>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="live-content" ng-if="(CtrlAdmin.contentSubController.currentObjectHash.length > 0)" ng-cloak>
					<a
						ng-href="{{::(CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].single_url)}}{{::(CtrlAdmin.contentSubController.currentObjectHash)}}"
						class="section-button success medium animated"
						role="button"
					>
						<ul>
							<li><i class="icon ion-earth"></i></li>
							<li>Live version</li>
						</ul>
					</a>
				</div>

				<form class="content-edit" ng-submit="CtrlAdmin.contentSubController.editContent()">

					<div class="form-group" ng-repeat="contentObject in CtrlAdmin.contentSubController.getEditableFields() track by $index" ng-class="[(contentObject.input + 'Class')]">

						<label class="content-label" for="{{ ::(contentObject.property + 'Input') }}">
							<h4>{{ (contentObject.filterName ? contentObject.filterName(contentObject.name) : contentObject.name) }}</h4>
						</label>

						<div ng-if="::(contentObject.input === 'gallery')" ng-cloak>
							<a type="button" class="btn btn-default" ng-click="contentObject.openFunction(CtrlAdmin.contentSubController.objectModel)">
								<i class="icon medium ion-images"></i>
							</a>

							<div
								class="main-picture" ac-background-image
								background-image="images/modules/{{currentContent.url}}/main_{{CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')]}}.{{currentContent.picture_extension}}"
							>
							</div>
						</div>

						<input type="text" class="form-control" id="{{ ::(contentObject.property + 'Input') }}" ng-model="CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')]" ng-if="::(contentObject.input === 'text')" placeholder="{{ (contentObject.filterName ? contentObject.filterName(contentObject.name) : contentObject.name) }}" ng-cloak>

						<textarea class="form-control" rows="2" id="{{ ::(contentObject.property + 'Input') }}" ng-model="CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')]" ng-if="::(contentObject.input === 'textarea')" ng-cloak></textarea>

						<div class="remaining-characters" ng-if="::(contentObject.validation)" ng-cloak>
							<span class="characters"
							ng-class="{'good': !(CtrlAdmin.checkCharactersRemaining(CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')].length, contentObject.validation[0].params.max).status), 'bad': (CtrlAdmin.checkCharactersRemaining(CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')].length, contentObject.validation[0].params.max).status) }"
							>
								{{ CtrlAdmin.checkCharactersRemaining(CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')].length, contentObject.validation[0].params.max).current }}
							</span>
							characters left.
						</div>

						<div class="checkbox-form edit" ng-if="::(contentObject.input === 'checkbox')" ng-cloak>
							<div class="form-group">
								<div class="input-group">
									<div class="extra-input noselect">
										<input
											type="checkbox" id="{{ ::(contentObject.property + 'Input') }}"
											ng-model="CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')]"
										>
										<label class="input-label" for="{{ ::(contentObject.property + 'Input') }}">
											<div class="body check">
												<div class="box"><i class="icon ion-checkmark small"></i></div>
											</div>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div ng-if="::(contentObject.input === 'dropdownCheckbox')" ng-cloak>
							<dropdown-checkbox
								button-name="contentObject.name"
								options="contentObject.options"
								model="CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')]"
							></dropdown-checkbox>
						</div>

						<div class="input-slider" ng-if="::(contentObject.input === 'slider')" ng-cloak>
							<rzslider rz-slider-model="CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')]" rz-slider-options="contentObject.inputDetails.options"></rzslider>
						</div>

						<div class="dropdown-section" ng-if="::(contentObject.input === 'dropdown')" ng-cloak>
							<div class="dropdown">
								<button class="btn btn-muted medium dropdown-toggle" type="button" data-toggle="dropdown">
									<span ng-bind="(contentObject.filter ? contentObject.filter([CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')]]) : contentObject.options[CtrlAdmin.contentSubController.objectModel[(contentObject.property + 'Input')]].text)"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-click="CtrlAdmin.contentSubController.changeDropdownValue(contentObject.property, option.data)" ng-repeat="option in contentObject.options track by $index">
										<a href="#" ng-click="scope = option.data">
											<span ng-bind="(option.text)"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>

					</div>

					<div ng-repeat="specialObject in CtrlAdmin.contentSubController.contentList[CtrlAdmin.contentSubController.pageState].special_fields track by $index" ng-class="[(contentObject.input + 'Class')]">

						<div class="col-md-12" ng-if="::(specialObject.property === 'flavortextUpgradesField')" ng-cloak>
							<div class="row">

								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="form-group col-md-4" ng-repeat="textInput in CtrlAdmin.contentSubController.numberToArray(CtrlAdmin.contentSubController.objectModel.maxTierInput) track by $index">
									<div class="row">
										<label class="content-label" for="{{('flavortextUpgradesFieldInput' + $index)}}">
											<h4>Tier {{($index+1)}}</h4>
										</label>
										<textarea class="form-control" rows="2" id="{{('flavortextUpgradesFieldInput' + $index)}}" ng-model="CtrlAdmin.contentSubController.objectModel.flavortextUpgradesField[$index]" ng-if="::(specialObject.input === 'textarea')" ng-cloak></textarea>
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-12 col-sm-12 col-xs-12" ng-if="::((specialObject.property === 'factionsField') && (CtrlAdmin.contentSubController.currentObjectHash.length > 0))" ng-cloak>
							<div class="row">

								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon ion-alert"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											placeholder="Factions"
											uib-typeahead="value for value in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="{{specialObject.template}}.html"
											class="form-control"
										>
									</div>
								</div>

								<div ng-if="(CtrlAdmin.contentSubController.objectModel[specialObject.property])" ng-cloak>
									<div class="comment-animation col-md-4 col-sm-4 col-xs-12" ng-repeat="faction in CtrlAdmin.contentSubController.objectModel[specialObject.property] track by $index">
										<div class="single-faction double" ng-init="factionInterest = (specialObject.methods.returnInterest(faction))">

											<div
												class="faction-icon"
												ac-background-image
												background-image="images/modules/factions/main_{{faction.hashField}}.png"
												ng-class="{'active': (faction.participant_table.activeField), 'leader': (faction.participant_table.leaderField)}"
											>
												<div class="delete-button">
													<a type="button" class="btn btn-warning small delete-btn" ng-click="specialObject.deleteItem(faction, $index)">
														<i class="icon ion-close"></i>
													</a>
												</div>

												<div class="interest-flag" ng-if="::(factionInterest.display)")}}">
													<i  class="icon" ng-class="::(factionInterest.icon)"
														popover-trigger="'mouseenter'"
														popover-class="tooltip"
														uib-popover="{{::(factionInterest.tooltip)}}"
													></i>
												</div>

												<div class="checkbox-form edit active-faction">
													<div class="form-group">
														<div class="input-group">
															<div class="extra-input noselect">
																<input
																	type="checkbox" id="{{ ::(faction.nameField + 'active') }}"
																	ng-model="faction.participant_table.activeField"
																>
																<label class="input-label" for="{{ ::(faction.nameField + 'active') }}">
																	<div class="body check">
																		<div class="box">
																			<i class="icon ion-checkmark small"></i>
																		</div>
																		<div class="label-text">Active</div>
																	</div>
																</label>
															</div>
														</div>
													</div>
												</div>

											</div>

											<div class="faction-name">
												<div
													class="text"
													ng-bind="(faction.nameField)"
													ng-class="{'blufor': (faction.sideField === 1), 'opfor': (faction.sideField === 2), 'indfor': (faction.sideField === 3), 'neutral': (faction.sideField === 0)}"
												></div>
											</div>

											<div class="checkbox-form edit">
												<div class="form-group">
													<div class="input-group">
														<div class="extra-input noselect">
															<input
																type="checkbox" id="{{ ::(faction.nameField + 'leader') }}"
																ng-model="faction.participant_table.leaderField"
															>
															<label class="input-label" for="{{ ::(faction.nameField + 'leader') }}">
																<div class="body check">
																	<div class="box">
																		<i class="icon ion-checkmark small"></i>
																	</div>
																	<div class="label-text">Conflict Leader</div>
																</div>
															</label>
														</div>
													</div>
												</div>
											</div>

											<h4>Stats</h4>

											<div class="input-slider">
												<div class="slider-label noselect">Resolution</div>
												<rzslider rz-slider-model="faction.participant_table.resolutionField" rz-slider-options="specialObject.sliderOptions.resolution"></rzslider>
											</div>

											<div class="info-field">
												<i class="icon ion-ios-medical"
													popover-trigger="'mouseenter'"
													popover-class="tooltip"
													uib-popover="Casualties"
												></i>
												<input type="text" class="form-control" ng-model="faction.participant_table.casualtiesField" placeholder="Casualties" ng-cloak>
											</div>

											<div class="input-slider half" ng-init="sliderValue = specialObject.methods.getAssetsSlider(faction);">
												<div class="slider-label noselect">Deployed Assets</div>
												<rzslider rz-slider-model="faction.participant_table.deployedAssetsField" rz-slider-options="sliderValue"></rzslider>
											</div>

											<h4>Modifiers</h4>

											<div class="col-md-12">
												<div class="row">
													<div class="col-md-6 col-sm-6 col-xs-6">
														<div class="row">
															<div class="input-slider">
																<div class="slider-label noselect">Tech</div>
																<rzslider rz-slider-model="faction.participant_table.techModifier" rz-slider-options="specialObject.sliderOptions.modifiers"></rzslider>
															</div>
														</div>
													</div>

													<div class="col-md-6 col-sm-6 col-xs-6">
														<div class="row">
															<div class="input-slider">
																<div class="slider-label noselect">Training</div>
																<rzslider rz-slider-model="faction.participant_table.trainingModifier" rz-slider-options="specialObject.sliderOptions.modifiers"></rzslider>
															</div>
														</div>
													</div>

													<div class="col-md-6 col-sm-6 col-xs-6">
														<div class="row">
															<div class="input-slider">
																<div class="slider-label noselect">Intel</div>
																<rzslider rz-slider-model="faction.participant_table.intelModifier" rz-slider-options="specialObject.sliderOptions.modifiers"></rzslider>
															</div>
														</div>
													</div>

													<div class="col-md-6 col-sm-6 col-xs-6">
														<div class="row">
															<div class="input-slider">
																<div class="slider-label noselect">Munificence</div>
																<rzslider rz-slider-model="faction.participant_table.munificenceModifier" rz-slider-options="specialObject.sliderOptions.modifiers"></rzslider>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-12">
												<div class="row">
													<a class="section-button warning small animated" ng-click="specialObject.editItem(faction, $index)" role="button">
														<ul>
															<li><i class="icon ion-edit"></i></li>
															<li>Update</li>
														</ul>
													</a>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12" ng-if="::(specialObject.property === 'parentUpgrade')" ng-cloak>
							<div class="row">

								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon ion-network"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											placeholder="Parent for this Upgrade (optional)"
											uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="{{specialObject.template}}.html"
											class="form-control"
										>
									</div>
								</div>

								<div ng-if="(CtrlAdmin.contentSubController.objectModel.parentUpgrade) && (CtrlAdmin.contentSubController.objectModel.parentUpgrade !== -1)" ng-cloak>
									<div class="single-upgrade">

										<div
											class="upgrade-icon"
											ac-background-image
											background-image="images/modules/upgrades/main_{{CtrlAdmin.contentSubController.objectModel.parentUpgrade[currentContent.picture_property]}}.png"
										>
											<div class="delete-button">
												<a type="button" class="btn btn-warning small delete-btn" ng-click="CtrlAdmin.contentSubController.setObjectValue('parentUpgrade', -1);">
													<i class="icon ion-close"></i>
												</a>
											</div>
										</div>

										<div class="upgrade-name">
											<div class="text" ng-bind="(CtrlAdmin.contentSubController.objectModel.parentUpgrade.nameField)"></div>
										</div>

									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12" ng-if="::((specialObject.property === 'FactionA') || (specialObject.property === 'FactionB'))" ng-cloak>
							<div class="row">

								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon" ng-class="::(specialObject.input_icon)"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="{{specialObject.template}}.html"
											class="form-control"
										>
									</div>
								</div>

								<div class="comment-animation" ng-if="(CtrlAdmin.contentSubController.objectModel[specialObject.property])" ng-cloak>
									<div class="single-property" ng-init="object = CtrlAdmin.contentSubController.objectModel[specialObject.property];">
										<div class="property-icon flag" ac-background-image
											background-image="images/modules/{{specialObject.icon}}/main_{{object[specialObject.icon_prop]}}.{{specialObject.icon_ext}}"
										></div>
										<div class="property-text" ng-bind="(object.nameField)"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12" ng-if="::(specialObject.property === 'Objective')" ng-cloak>
							<div class="row">

								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon" ng-class="::(specialObject.input_icon)"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="{{specialObject.template}}.html"
											class="form-control"
										>
									</div>
								</div>

								<div class="comment-animation" ng-if="(CtrlAdmin.contentSubController.objectModel[specialObject.property])" ng-cloak>
									<div class="single-property" ng-init="object = CtrlAdmin.contentSubController.objectModel[specialObject.property];">
										<div class="property-icon" ac-background-image
											background-image="images/modules/{{specialObject.icon}}/main_{{object[specialObject.icon_prop]}}.{{specialObject.icon_ext}}"
										></div>
										<div class="property-text" ng-bind="(object.nameField)"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12" ng-if="::(specialObject.property === 'Map')" ng-cloak>
							<div class="row">

								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon" ng-class="::(specialObject.input_icon)"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="{{specialObject.template}}.html"
											class="form-control"
										>
									</div>
								</div>

								<div class="comment-animation" ng-if="(CtrlAdmin.contentSubController.objectModel[specialObject.property])" ng-cloak>
									<div class="single-property" ng-init="object = CtrlAdmin.contentSubController.objectModel[specialObject.property];">
										<div class="property-icon" ac-background-image
											background-image="images/modules/{{specialObject.icon}}/main_{{object[specialObject.icon_prop]}}.{{specialObject.icon_ext}}"
										></div>
										<div class="property-text" ng-bind="(object.nameField)"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12" ng-if="::(specialObject.property === 'Location')" ng-cloak>
							<div class="row">

								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon" ng-class="::(specialObject.input_icon)"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="{{specialObject.template}}.html"
											class="form-control"
										>
									</div>
								</div>

								<div class="comment-animation" ng-if="(CtrlAdmin.contentSubController.objectModel[specialObject.property])" ng-cloak>
									<div class="single-property" ng-init="object = CtrlAdmin.contentSubController.objectModel[specialObject.property];">
										<div class="property-text single" ng-bind="(object.nameField)"></div>
										<div class="property-text type" ng-bind="CtrlAdmin.contentSubController[CtrlAdmin.contentSubController.objectCtrl].locationsData[(object.typeField)].text || (object.typeField)"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12" ng-if="::(specialObject.property === 'Conflict')" ng-cloak>
							<div class="row">

								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon" ng-class="::(specialObject.input_icon)"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="{{specialObject.template}}.html"
											class="form-control"
										>
									</div>
								</div>

								<div class="comment-animation" ng-if="(CtrlAdmin.contentSubController.objectModel[specialObject.property])" ng-cloak>
									<div class="single-property" ng-init="object = CtrlAdmin.contentSubController.objectModel[specialObject.property];">
										<div class="property-text single" ng-bind="(object.nameField)"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12" ng-if="::(specialObject.property === 'blacklistedObjectives')" ng-cloak>

							<div class="row">
								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon" ng-class="::(specialObject.input_icon)"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="{{specialObject.template}}.html"
											class="form-control"
										>
									</div>
								</div>

								<div class="comment-animation" ng-if="(CtrlAdmin.contentSubController.objectModel[specialObject.property])" ng-cloak style="margin-top: 20px;">
									<div
										class="single-property stack"
										ng-repeat="object in CtrlAdmin.contentSubController.objectModel[specialObject.property] track by $index"
									>
										<div class="property-icon" ac-background-image
											background-image="images/modules/{{specialObject.icon}}/main_{{object[specialObject.icon_prop]}}.{{specialObject.icon_ext}}"
										></div>
										<div class="property-text" ng-bind="(object.nameField)"></div>
										<div class="delete-button">
											<a type="button" class="btn btn-warning small delete-btn" ng-click="specialObject.removeObject($index)">
												<i class="icon ion-close"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 col-sm-12 col-xs-12" ng-if="::(specialObject.property === 'advisoriesDisplayField')" ng-cloak>

							<div class="row">
								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon" ng-class="::(specialObject.input_icon)"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="{{specialObject.template}}.html"
											class="form-control"
										>
									</div>
								</div>

								<div class="comment-animation" ng-if="(CtrlAdmin.contentSubController.objectModel[specialObject.property])" ng-cloak style="margin-top: 20px;">
									<div
										class="single-property stack"
										ng-repeat="object in CtrlAdmin.contentSubController.objectModel[specialObject.property] track by $index"
									>
										<div class="property-icon" ac-background-image
											background-image="images/modules/{{specialObject.icon}}/main_{{object[specialObject.icon_prop]}}.{{specialObject.icon_ext}}"
										></div>
										<div class="property-text" ng-bind="(object.nameField)"></div>
										<div class="delete-button">
											<a type="button" class="btn btn-warning small delete-btn" ng-click="specialObject.removeObject($index)">
												<i class="icon ion-close"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12" ng-if="::(specialObject.property === 'requiredUpgrades')" ng-cloak>
							<div class="row">

								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon ion-alert"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											placeholder="Upgrades required"
											uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="{{specialObject.template}}.html"
											class="form-control"
										>
									</div>
								</div>

								<div ng-if="(CtrlAdmin.contentSubController.objectModel[specialObject.property])" ng-cloak>
									<div class="comment-animation col-md-6 col-sm-6 col-xs-12" ng-repeat="required in CtrlAdmin.contentSubController.objectModel[specialObject.property] track by $index">
										<div class="single-upgrade double row">

											<div
												class="upgrade-icon"
												ac-background-image
												background-image="images/modules/upgrades/main_{{required.iconName}}.png"
											>
												<div class="delete-button">
													<a type="button" class="btn btn-warning small delete-btn" ng-click="CtrlAdmin.contentSubController.objectModel[specialObject.property].splice($index, 1);">
														<i class="icon ion-close"></i>
													</a>
												</div>
											</div>

											<div class="upgrade-name">
												<div class="text" ng-bind="(required.nameField)"></div>
											</div>

											<div class="input-slider">
												<div class="slider-label noselect">Required Rank</div>

												<rzslider rz-slider-model="required.Rank" rz-slider-options="specialObject.sliderOptions(required.maxTier)"></rzslider>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12" ng-if="::(specialObject.property === 'blacklistedUpgrades')" ng-cloak>
							<div class="row">

								<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

								<div class="input-filter">
									<i class="icon ion-close-circled"></i>
									<div class="typehead">
										<input
											type="text"
											ng-model="asyncSelected"
											placeholder="Upgrades blacklisted"
											uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
											typeahead-input-formatter="null"
											typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
											typeahead-template-url="upgradesTypeahead.html"
											class="form-control"
										>
									</div>
								</div>

								<div ng-if="(CtrlAdmin.contentSubController.objectModel[specialObject.property])" ng-cloak>
									<div class="comment-animation col-md-6 col-sm-6 col-xs-12" ng-repeat="required in CtrlAdmin.contentSubController.objectModel[specialObject.property] track by $index">
										<div class="single-upgrade double row">

											<div
												class="upgrade-icon"
												ac-background-image
												background-image="images/modules/upgrades/main_{{required.iconName}}.png"
											>
												<div class="delete-button">
													<a type="button" class="btn btn-warning small delete-btn" ng-click="CtrlAdmin.contentSubController.objectModel[specialObject.property].splice($index, 1);">
														<i class="icon ion-close"></i>
													</a>
												</div>
											</div>

											<div class="upgrade-name black">
												<div class="text" ng-bind="(required.nameField)"></div>
											</div>

											<div class="input-slider">
												<div class="slider-label noselect">Required Rank</div>

												<rzslider rz-slider-model="required.Rank" rz-slider-options="specialObject.sliderOptions(required.maxTier)"></rzslider>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div ng-if="::((specialObject.input === 'typeahead') && (specialObject.property === 'storeStock') && (CtrlAdmin.contentSubController.currentObjectHash.length > 0))" ng-cloak>

							<h3 class="content-label" ng-bind="::(specialObject.name)"></h3>

							<div class="input-filter">
								<i class="icon ion-plus"></i>
								<div class="typehead">
									<input
										type="text"
										ng-model="asyncSelected"
										placeholder="Add an item to the inventory"
										uib-typeahead="address for address in specialObject.typeaheadFunction($viewValue)"
										typeahead-input-formatter="null"
										typeahead-on-select="specialObject.typeaheadSelectFunction($item)"
										typeahead-template-url="storeItemsTypeahead.html"
										class="form-control"
									>
								</div>
								<i class="icon ion-search"></i>
								<input type="text" class="form-control" placeholder="Filter store stock" ng-model="itemFilter">
							</div>

							<div class="table-responsive">
								<table class="table table-hover table-condensed">
									<thead>
										<tr>
											<th>Picture</th>
											<th>Name</th>
											<th>Content</th>
											<th>Base Price</th>
											<th>Type/Class</th>
											<th>Target Amount</th>
											<th>Min. Supply %</th>
											<th>Discount Dev.</th>
											<th>Current Amount</th>
											<th>Current Discount</th>
											<th>Store Cost</th>
											<th>Purchaseable</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr class="comment-animation" ng-repeat="item in (CtrlAdmin.contentSubController.objectModel.storeStock | filter:itemFilter) track by $index" ng-class="{'notavailable': !(item.available)}">
											<td><div class="picture" ac-background-image background-image="images/modules/items/thumb_{{item.hashField}}.jpg"></td>
											<td><span ng-bind="item.name"></span></td>
											<td>@<span ng-bind="item.content"></span></td>
											<td><span ng-bind="item.value"></span></td>
											<td>
												<span ng-bind="item.type"></span> - <span ng-bind="item.class"></span>
											</td>
											<td>
												<div class="td-class">
													x <input type="text" class="form-control" ng-model="item.supply_amount">
												</div>
											</td>
											<td>
												<div class="td-class">
													<input type="text" class="form-control" ng-model="item.min_supply_percent"> %
												</div>
											</td>
											<td>
												<div class="td-class">
													<input type="text" class="form-control" ng-model="item.discount_deviation"> %
												</div>
											</td>
											<td>
												<div class="td-class">
													x <input type="text" class="form-control" ng-model="item.amount">
												</div>
											</td>
											<td>
												<div class="td-class">
													<input type="text" class="form-control" ng-model="item.store_discount"> %
												</div>
											</td>
											<td><strong><span ng-bind="item.store_price"></span></strong></td>
											<td>
												<div class="checkbox-form edit">
													<div class="form-group">
														<div class="input-group">
															<div class="extra-input noselect">
																<input type="checkbox" id="{{::(item.hashField + 'Check')}}" ng-model="item.available">
																<label class="input-label" for="{{::(item.hashField + 'Check')}}">
																	<div class="body check">
																		<div class="box"><i class="icon ion-checkmark small"></i></div>
																	</div>
																</label>
															</div>
														</div>
													</div>
												</div>
											</td>
											<td>
												<a type="button" class="btn btn-warning small" ng-click="specialObject.deleteItem(item.hashField)">
													<i class="icon ion-backspace"></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<a ng-click="specialObject.saveFunction()" class="section-button warning small animated" role="button">
								<ul>
									<li><i class="icon ion-checkmark"></i></li>
									<li>Update store stock</li>
								</ul>
							</a>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12" style="display:block">
						<div class="row">
							<hr />
							<a ng-click="CtrlAdmin.contentSubController.editContent()" class="section-button success medium animated" role="button">
								<ul>
									<li><i class="icon ion-checkmark"></i></li>
									<li>Save</li>
								</ul>
							</a>
						</div>
					</div>
					<input type="submit" style="display:none;" />
				</form>
			</div>
		</div>
	</div>
</div>